{% extends 'accounts/dashboard-base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% block dashboard_heading %}
    <div class="dashboard-bg">
    <div class="merchant-tools merchant-one coin-payment-head">
        <div class=" container merchant-box">ADDRESS BOOK
        </div>
    </div>
{% endblock %}
{% block dashboard_wrapper_content %}
    <div class="dashboard-wrapper">
        <div class="dasboard-head">
            <div class="bs-example bs-example-tabs examble-tab" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs nav-tabs-responsive multiple-tab" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home"
                           aria-expanded="true">
                            <span class="text">{% trans 'Add New Address' %}</span>
                        </a>
                    </li>
                    <li role="presentation" class="next">
                        <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">
                            <span class="text">{% trans 'Saved Address' %}</span>
                        </a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                    </div>
                    <div class="account-setting-wrap">
                        <form role="form" method="post" id="addAddress"
                              action="{% url 'accounts:add_new_address' %}" novalidate>
                            {% csrf_token %}
                            <fieldset class="setting-form form-settings">
                                <div class="form-group col-md-12">
                                    <label for="first_name">Saved Address Name</label>
                                    {{ form.address_name|add_class:'form-control text-view' }}
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="first_name">First Name</label>
                                    <input type="text" name="" value="" placeholder="First Name" class="form-control text-view">

                                </div>

                                <div class="form-group col-md-12">
                                    <label for="first_name">Last Name</label>
                                    <input type="text" name="" value="" placeholder="Last Name " class="form-control text-view">

                                </div>

                                <div class="form-group col-md-12">
                                    <label for="first_name">Address</label>
                                    <input type="text" name="" value="" placeholder="Address" class="form-control text-view">
                                    <span>( Please specify which crypto processor your are using )</span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="first_name">(con)</label>
                                    <input type="text" name="" value="" placeholder="(con)" class="form-control text-view">
                                    <span>( Please specify which crypto processor your are using )</span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="confirm_password">Country</label>
                                    <select class="form-control select-view" name="" id="country">
                                        <option>USA</option>
                                        <option>test</option>
                                        <option>test</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="first_name">City</label>
                                    <input type="text" name="" value="" placeholder="City" class="form-control text-view">

                                </div>
                                <div class="form-group col-md-12">
                                    <label for="first_name">State/Province</label>
                                    <input type="text" name="" value="" placeholder="State/Province" class="form-control text-view">
                                    <span>USA/Canada -2 disgit </br>code other countries use your loacl custim or leave blank</span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="first_name">Zip/postal Code</label>
                                    <input type="text" name="" value="" placeholder="Zip/postal Code" class="form-control text-view">

                                </div>
                                <div class="form-group col-md-12">
                                    <label for="first_name">Phone Number</label>
                                    <input type="text" name="" value="" placeholder="Phone NUmber" class="form-control text-view" id "number">

                                </div>
                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn address-btn btn-address">Nevermind</button>
                                    <button type="submit" class="btn address-btn">Save Address</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/clipboard.min.js' %}"></script>
    <script src="{% static 'js/jquery.toaster.js' %}"></script>
    <script src="{% static 'js/account_settings.js' %}"></script>
{% endblock %}


