{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% load widget_tweaks %}
    <section>
        <div class="dashboard-bg">
            <div class="container">
                <div class="dashboard-wrapper top-sec">
                    <div class="dasboard-head">
                        <div class="img-dashboard">
                            <img src="{% static '/images/dashboard-icom.png' %}">

                        </div>
                        <h3>Dashboard</h3>
                    </div>
                    <div class="dasboard-sec">

                        <div class="col-sm-4 dashboard-componatns">
                            <div class="home-icon">
                                <a href= "{% url 'accounts:profile' %}">
                                    <img class="img-d-icon" src="{% static '/images/dash-icon1.png' %}">
                                </a>
                            </div>
                            <a href= "{% url 'accounts:profile' %}">
                                <span class="dashboard-span">Home</span>
                            </a>
                        </div>
                        <div class="col-sm-4 dashboard-componatns">
                            <div class="home-icon box-1">
                                <img class="img-d-icon" src="{% static '/images/wallet.png' %}">
                            </div>
                            <span class="dashboard-span">Your Wallet</span>
                        </div>
                        <div class="col-sm-4 dashboard-componatns">
                            <div class="home-icon box-2">
                                <img class="img-d-icon" src="{% static '/images/coin01.png' %} ">
                            </div>
                            <span class="dashboard-span">Coin Settings</span>
                        </div>
                        <div class="col-sm-4 dashboard-componatns">

                            <div class="home-icon box-3">
                                <img class="img-d-icon" src="{% static '/images/bill-not.png' %}">
                            </div>
                            <span class="dashboard-span">Transaction History</span>
                        </div>
                        <div class="col-sm-4 dashboard-componatns">
                            <div class="home-icon box-4">
                                <img class="img-d-icon" src="{% static '/images/pos.png' %}">
                            </div>
                            <span class="dashboard-span">Quick POS</span>
                        </div>
                        <div class="col-sm-4 dashboard-componatns">
                            <div class="home-icon box-5">
                                <img class="img-d-icon" src="{% static '/images/pay.png' %}">
                            </div>
                            <span class="dashboard-span">$PayByName</span>
                        </div>
                    </div>
                </div>
                <div class="dashboard-wrapper">
                    <div class="dasboard-head">
                        <div class="img-dashboard">
                            <img src="{% static '/images/recevied.png'%} ">

                        </div>
                        <h3 class="trans">Recent Transaction</h3>
                    </div>
                    <div class="dashboard-table">
                        <div class="dasboard-head">
                            <div class="card">
                                <div class="card-body">

                                    <!--Table-->
                                    <table class="table table-border table-responsive-md table-fixed">

                                        <!--Table head-->
                                        <thead>
                                        <tr class="table-top">

                                            <th>Time</th>
                                            <th>Received/Sent Name</th>
                                            <th>Coin</th>
                                            <th>Amount</th>
                                            <th>Status</th>

                                        </tr>
                                        </thead>
                                        <!--Table head-->

                                        <!--Table body-->
                                        <tbody>
                                        <!--  <tr>
                                             <td scope="row">4</td>
                                             <td>Jerry</td>
                                             <td>Horwitz</td>
                                             <td>Italy</td>
                                             <td>Bari</td>


                                         </tr> -->

                                        <tr>
                                            <td class="table-style" colspan="5">No Payment Found</td>

                                        </tr>
                                        </tbody>
                                        <!--Table body-->

                                    </table>
                                    <!--Table-->

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
