{% extends 'exmr.html' %} {% load staticfiles %} {% block content %} {% load widget_tweaks %} {% load i18n %}
<section>
    {% block dashboard_heading %} {% endblock %}
    <style>
    

   

    </style>
    <div class="container">
        <div class="dashboard-wrapper top-sec">
            <div class="col-xs-12 padx0">
                <div class="col-xs-4 col-sm-2 dashboard-component box-0">
                    <a href="{% url 'accounts:profile' %}" class="v-mid ">
                      
                        <span class="dashboard-span hidden-xs hidden-sm  wallet-menu"><p class="">  <i class="fas fa-tachometer-alt dash-icon"></i> {% trans 'Home' %}</p></span> 
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2 dashboard-component box-1">
                    <a href="{% url 'coins:wallets' %}">
                       
                        <span class="dashboard-span hidden-xs hidden-sm  wallet-menu">
                            
                        <p class=""> <i class="fas fa-wallet dash-icon"></i> {% trans 'Your Wallet' %} </p></span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2 dashboard-component box-2">
                    <p class="">
                    <a href="{% url 'coins:coin-settings' %}">	
	                    <span class="dashboard-span hidden-xs hidden-sm  wallet-menu">
	                    <i class="fas fa-coins dash-icon"></i>{% trans 'Coin Settings' %}</span>
                    </a>
                   </p>
                </div>
                <div class="col-xs-4 col-sm-2 dashboard-component box-3">
                    <a href="{% url 'accounts:transaction-history' %}">
                        <span class="dashboard-span hidden-xs hidden-sm  wallet-menu"><i class="fas fa-receipt dash-icon"></i> {% trans 'Transaction History' %}</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2 dashboard-component box-4">
                    <p class="">
                    <span class="dashboard-span hidden-xs hidden-sm  wallet-menu"><i class="fas fa-shopping-cart dash-icon"></i> {% trans 'Quick POS' %}</span>
                </p>
                </div>
                <div class="col-xs-4 col-sm-2 dashboard-component box-5">
                   <p class="">
                    <span class="dashboard-span hidden-xs hidden-sm  wallet-menu"><i class="fas fa-user-tie dash-icon"></i> {% trans '$PayByName' %}</span>
                </p>
                </div>
            </div>
        </div>
        {% block dashboard_wrapper_content %} {% endblock %}
    </div>
    </div>
</section>

{% endblock %}