{% extends 'exmr.html' %} {% load staticfiles %} {% block content %} {% load widget_tweaks %} {% load i18n %}
<section>
    {% block dashboard_heading %} {% endblock %}
    <style>
    </style>
    <div class="container">
        <div class="dashboard-wrapper top-sec">
            <div class="col-xs-12 padx0">
                <div class="col-xs-4 col-sm-2 dashboard-component box-0">
                    <a href="{% url 'accounts:profile' %}" class="v-mid text-center col-xs-12 px-0 py-1">
                        <span class="fas fa-tachometer-alt fa-2x col-xs-12 col-sm-6"></span>
                        <span class="dashboard-span hidden-xs col-sm-6 col-md-6 wallet-menu">{% trans 'Home' %}</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2 dashboard-component box-1">
                    <a href="{% url 'coins:wallets' %}" class="v-mid text-center col-xs-12 px-0 py-1">
                        <i class="fas fa-2x fa-wallet col-xs-12 col-sm-6"></i>
                        <span class="dashboard-span hidden-xs hidden-sm  wallet-menu">
                            {% trans 'Your Wallet' %}
                        </span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2 dashboard-component box-2">
                    <a href="{% url 'coins:coin-settings' %}" class="v-mid text-center col-xs-12 px-0 py-1">
                        <i class="fas fa-coins  fa-2x col-xs-12 col-sm-6"></i>
                        <span class="dashboard-span hidden-xs hidden-sm  wallet-menu">
                            {% trans 'Coin Settings' %}</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2 dashboard-component box-3">
                    <a href="{% url 'coins:transaction-history' %}" class="v-mid text-center col-xs-12 px-0 py-1">
                        <i class="fas fa-receipt  fa-2x col-xs-12 col-sm-6"></i>
                        <span class="dashboard-span hidden-xs hidden-sm  wallet-menu">{% trans 'Transactions' %}</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2 dashboard-component box-4">
                    <a href="{% url 'common:beta' %}" class="v-mid text-center col-xs-12 px-0 py-1">
                        <i class="fas fa-shopping-cart  fa-2x col-xs-12 col-sm-6"></i>
                        <span class="dashboard-span hidden-xs hidden-sm  wallet-menu"> {% trans 'Quick POS' %}</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2 dashboard-component box-5">
                    <a href="{% url 'coins:paybyname' %}" class="v-mid text-center col-xs-12 px-0 py-1">
                        <i class="fas fa-user-tie  fa-2x col-xs-12 col-sm-6"></i>
                        <span class="dashboard-span hidden-xs hidden-sm  wallet-menu">{% trans 'PayByName' %}</span>
                    </a>
                </div>
            </div>
        </div>
        {% block dashboard_wrapper_content %} {% endblock %}
    </div>
    </div>
</section>

{% endblock %}