{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% load i18n %}
    <section>
        <div class="dashboard-bg">
            <div class="merchant-tools merchant-one">
                <div class=" container merchant-box">FEEDBACK
                </div>
                <div class="container subline-p merchant-toolp">
                    <p>Instant crypto checkout with easy to use cart plugin,advanced,invoice buillder,and API for custom intagration
                </div>
            </div>
            <div class="view-feed">
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading">Feedback Overview</div>
                        <div class="panel-body">
                            <div class="row m0">
                                <div class="col-sm-3">
                                    <img src="{% static 'images/default-avatar.png' %}" width="200px" height="200px" class="img-circle" style="margin-top: 1em" />
                                </div>
                                <div class="col-sm-9">
                                    <div class="d-wrap">
                                        <table id="bstable" class="table">
                                            <thead>
                                            <tr class="hidden">
                                                <th>Field</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td style="border:0px"><b>User</b> <span class="pull-right">:</span></td>
                                                <td style="border:0px">{{ user.username }}</td>
                                            </tr>
                                            <tr>
                                                <td style="border:0px"><b>Member since</b> <span class="pull-right">:</span></td>
                                                <td style="border:0px">{{ user.date_joined }}</td>
                                            </tr>
                                            <tr>
                                                <td style="border:0px"><b>Rating</b> <span class="pull-right">:</span></td>
                                                <td style="border:0px"><span style="color: #5cb85c;">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </span> <span style="color: #5cb85c;">{{ user.get_profile.average }}</span></td>
                                            </tr>
                                            <tr>
                                                <td style="border:0px"><b>Positive</b> <span class="pull-right">:</span></td>
                                                <td style="border:0px"><font color="#008000">{{ user.get_profile.positive }}</font></td>
                                            </tr>
                                            <tr>
                                                <td style="border:0px"><b>Neutral</b> <span class="pull-right">:</span></td>
                                                <td style="border:0px"><font color="#008000">{{ user.get_profile.neutral }}</font></td>
                                            </tr>
                                            <tr>
                                                <td style="border:0px"><b>Negative</b> <span class="pull-right">:</span></td>
                                                <td style="border:0px"><font color="#008000">{{ user.get_profile.negative }}</font></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Browse Feedback</div>
                        <div class="panel-body feed-table">
                            <table id="cstable" class="table table-bordered table-condensed stacktable large-only">
                                <thead>
                                <tr>
                                    <th width="0" >Date</th>
                                    <th width="0" >Rating</th>
                                    <th width="0" >B/S</th>
                                    <th width="0" >Left By</th>
                                    <th>Comment</th>
                                    <th>Country</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for feedback in user.get_all_feedback.all %}
                                <tr>
                                    <td class="coins nobr" align="">{{ feedback.date }}</td>
                                    <td class="text-center"><img src={% static 'images/pos1.png' %} border="0" alt="Positive" title="Positive">{{ feedback.rating }}</td>
                                    <td>{{ feedback.buyer_or_seller }}</td>
                                    <td>{{ feedback.left_by }}</td>
                                    <td>{{ feedback.comment }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="6"><a type="button" class="btn btn-primary btn-sm" href="#">Older</a></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/datepicker.min.js"></script>
<script>
    (function ($) {

        'use strict';

        $(document).on('show.bs.tab', '.nav-tabs-responsive [data-toggle="tab"]', function (e) {
            var $target = $(e.target);
            var $tabs = $target.closest('.nav-tabs-responsive');
            var $current = $target.closest('li');
            var $parent = $current.closest('li.dropdown');
            $current = $parent.length > 0 ? $parent : $current;
            var $next = $current.next();
            var $prev = $current.prev();
            var updateDropdownMenu = function ($el, position) {
                $el
                    .find('.dropdown-menu')
                    .removeClass('pull-xs-left pull-xs-center pull-xs-right')
                    .addClass('pull-xs-' + position);
            };

            $tabs.find('>li').removeClass('next prev');
            $prev.addClass('prev');
            $next.addClass('next');

            updateDropdownMenu($prev, 'left');
            updateDropdownMenu($current, 'center');
            updateDropdownMenu($next, 'right');
        });

    })(jQuery);
    $('.datepicker').datepicker();
    $('.timepicker').timepicker({
        timeFormat: 'h:mm p',
        interval: 60,
        minTime: '10',
        maxTime: '6:00pm',
        defaultTime: '11',
        startTime: '10:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });
</script>
