{% extends 'gcps/testbase.html' %} {% load staticfiles widget_tweaks %} {% load i18n %} {% block content %}
<section class="section section-pad">
    <div class="account-setting-wrap">
    <div class="login-bg ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-sm-offset-4 login-sec">
                    <div class="form-group text-center">
                        <a href="{% url 'home' %}">
                            <img class="logo-log" src="{% static 'images/log-log.png' %}" alt="">
                        </a>
                    </div>
                    <div class="form-group welcome h2 text-center text-white">{% trans 'Forgot Password' %}</div>
                    <h4 class="log-subline text-center text-white">{% trans 'To reset your password, enter your username or email address below' %}</h4>
                    <div class="form-group">
                        {{ form.non_field_errors }}
                        <form method="post" novalidate>
                            <div class="form-group">{% csrf_token %} {% render_field form.username class="form-control usernmae-log" placeholder="Username or Email" %} {{ form.username.errors }}
                            </div>

                            <div class="form-group text-center">
                                {# {% render_field form.email class="form-control usernmae-log" placeholder="Email" %}#} {# {{ form.email.errors }}#}
                                <button type="submit" class="btn btn-outline-orange btn-lg btn-log forgot-pw ">{% trans 'Submit' %}</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</section>
{% endblock %} {% block extra_js %} {% endblock %}