{% extends 'gcps/testbase.html' %} {% load staticfiles widget_tweaks %} {% block content %} {% load i18n %}
<section class="section section-pad">
    <div class="account-setting-wrap">
    <div class="login-bg">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-md-4  login-sec">
                    <div class="container w-100 ">
                        <div class="row align-items-center text-center h-100">
                          <div class="col-md-12 col-12">
                            <a href="{% url 'home' %}">
                            <img class="logo-log"  src="{% static 'images/log-log.png' %}" alt="">
                        </a>
                        <h3 class="login-text text-center ">{% trans 'Welcome!' %}</h3>
                    <h4 class="login-text text-center">{% trans 'Sign in by entering the information below' %}</h4>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 login-sec">

                    
                    <div class="form-group col-xs-12 ">
                        {{ form.non_field_errors }}
                        <form novalidate method="post">{% csrf_token %}
                            <div class="form-group col-xs-12">
                                {% render_field form.username class="form-control username-log" placeholder="Username/Email" %} {{ form.username.errors }}
                            </div>
                            {% render_field form.password class="form-control username-log" placeholder="Password" %} {{ form.password.errors }}
                            <div class="form-group col-xs-12 text-center">
                                <button type="submit" class="btn btn-outline-orange btn-login mt-4 floatl">{% trans 'Login' %}</button>
                                <a href="{% url 'accounts:signup' %}">
                                    <button type="button" class="btn btn-outline-orange btn-signup text-center mt-4  floatr ">{% trans 'Signup' %}</button>
                                </a>
                            </div>

                        </form>
                    </div>
                    <div class="form-group col-xs-12 ">
                        <div class="login-sec ">
                            
                                <a href="{% url 'accounts:reset_password' %}">
                                    <h5 class="text-center login-text">{% trans 'Forgot Password?' %}</h5>
                                </a>
                          
                           
                                <a href="{% url 'accounts:signup' %}">
                                    <h5 class="text-center login-text">{% trans "Don't have an account?" %}</h5>
                                </a>
                           
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block script %}
<script>
    grecaptcha.ready(function() {
    grecaptcha.execute('6LfNl2cUAAAAAKoPIBFAyyN9tF9hgCKBIrX2n_bo', {action: 'action_name'})
    .then(function(token) {
    });
    });
    </script>

{% endblock %}
