{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% load widget_tweaks %}
    {% load social_share %}
    {% url 'home' as host %}
    {% with user.get_profile as profile %}
    <section>
        <div class="dashboard-bg">
            <div class="container">
                <div class="dashboard-wrapper top-sec">
                    <div class="dasboard-head">
                        <div class="img-dashboard">
                            <img src="{% static 'images/settings.png'%}">
                        </div>
                        <h3>Settings</h3>
                    </div>
                    <div class="dasboard-sec">

                        <div class="col-sm-4 dashboard-componatns">
                            <div class="home-icon">
                                <a href= "{% url 'accounts:profile' %}">
                                    <img class="img-d-icon" src="{% static 'images/dash-icon1.png'%}">
                                </a>
                            </div>
                            <a href= "{% url 'accounts:profile' %}">
                                <span class="dashboard-span">Home</span>
                            </a>
                        </div>
                        <div class="col-sm-4 dashboard-componatns">
                            <div class="home-icon box-1">
                                <img class="img-d-icon" src="{% static 'images/wallet.png'%}">
                            </div>
                            <span class="dashboard-span">Your Wallet</span>
                        </div>
                        <div class="col-sm-4 dashboard-componatns">
                            <div class="home-icon box-2">
                                <img class="img-d-icon" src="{% static 'images/coin01.png' %} ">
                            </div>
                            <span class="dashboard-span">Coin Settings</span>
                        </div>
                        <div class="col-sm-4 dashboard-componatns">

                            <div class="home-icon box-3">
                                <img class="img-d-icon" src="{% static 'images/bill-not.png' %}">
                            </div>
                            <span class="dashboard-span">Transaction History</span>
                        </div>
                        <div class="col-sm-4 dashboard-componatns">
                            <div class="home-icon box-4">
                                <img class="img-d-icon" src="{% static 'images/pos.png'%}">
                            </div>
                            <span class="dashboard-span">Quick POS</span>
                        </div>
                        <div class="col-sm-4 dashboard-componatns">
                            <div class="home-icon box-5">
                                <img class="img-d-icon" src="{% static 'images/pay.png' %}">
                            </div>
                            <span class="dashboard-span">$PayByName</span>
                        </div>
                    </div>
                    <div class="dashboard-wrapper top-sec1">

                        <div class="bs-example bs-example-tabs examble-tab" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs nav-tabs-responsive multiple-tab" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                        <span class="text">Basic Settings</span>
                                    </a>
                                </li>
                                <li role="presentation" class="next">
                                    <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">
                                        <span class="text">Public Info</span>
                                    </a>
                                </li>

                                <li role="presentation">
                                    <a href="#samsa" role="tab" id="samsa-tab" data-toggle="tab" aria-controls="samsa">
                                        <span class="text">Login & Security</span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#samsa" role="tab" id="samsa-tab" data-toggle="tab" aria-controls="samsa">
                                        <span class="text">Merchant Settings</span>
                                    </a>
                                </li>
                            </ul>

                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                    <div class="setting-head">Account Settings</div>
                                    <div class="account-setting-wrap">
                                        <div class="your-merchant">
                                            <form class="form-inline" role="form">
                                                <div class="form-group merchant-id">
                                                    <label for="name">Your Merchant ID:</label>
                                                    <label for="name">{{ profile.merchant_id }}</label>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="your-merchant">
                                            <form class="form-inline" role="form">
                                                <div class="form-group merchant-id">
                                                    <label for="name">Affiliate URL:</label>
                                                    <p for="name">  Want to earn some crypto? Give this URL to new users and when they sign up you will earn a percentage of their GETCRYPTOPAYMENTS transaction fees:  <b><span id="refUrl">{{ ref_url }}</span></b> </p>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="social-media">
                                            <ul>
                                                <li>
                                                    {% post_to_facebook_url ref_url as p  %}
                                                    <a href="{{ facebook_url }}" target="_blank">
                                                        <img src="{% static 'images/facebook.png' %}"  alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    {% post_to_twitter_url 'GETCRYPTOPAYMENTS' ref_url as p  %}
                                                    <a href="{{ tweet_url }}">
                                                        <img src="{% static 'images/twitter.png' %}" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    {% post_to_linkedin_url 'GETCRYPTOPAYMENTS' ref_url as p  %}
                                                    <a href="{{ linkedin_url }}">
                                                        <img src="{% static 'images/linkedin.png'%}" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    {% post_to_gplus_url ref_url as p  %}
                                                    <a href="{{ gplus_url }}">
                                                        <img src="{% static 'images/google.png' %}" alt="">
                                                    </a>
                                                </li>
                                                <div class="share" data-clipboard-action="copy" data-clipboard-target="#refUrl">Save URL <img src="{% static 'images/share.png' %}"></div>
                                            </ul>

                                        </div>
                                        <div class="alert">

                                        </div>
                                        <form role="form" method="post" id="accountForm" action="{% url 'accounts:settings' %}" novalidate>
                                            {% csrf_token %}
                                            <fieldset class="setting-form form-settings">

                                                <div class="form-group col-md-6">
                                                    <label for="first_name">Account Email</label>
                                                    {{ form.email }}
                                                    <span class="error"></span>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="last_name">Confirm Email</label>
                                                    {{ form.confirm_email }}
                                                    <span class="error"></span>
                                                </div>


                                                <div class="form-group col-md-6">
                                                    <label for="password">Gender</label>
                                                    {{ form.gender }}
                                                    <span class="error"></span>

                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="confirm_password">Time Zone</label>
                                                    {{ form.timezone }}
                                                    <span class="error"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <div class=" date-pick">
                                                        <label for="password">Date Format</label>
                                                        {{ form.date_format}}
                                                        <span class="error"></span>
                                                    </div>

                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="confirm_password">Time Format</label>
                                                    {{ form.time_format }}
                                                     <span class="error"></span>
                                                </div>

                                                   <div class="form-group col-md-6">

                                                    <button type="submit" class="btn- btn-default btn-log ">Update Account</button>

                                                   </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">

                                    <div class="setting-head">Public Info</div>
                                    <div class="account-setting-wrap">
                                        <div class="alert">

                                        </div>

                                        <form role="form" method="post" id="publicInfo" action="{% url 'accounts:save_public_info' %}" novalidate>
                                            {% csrf_token %}
                                            <fieldset class="setting-form form-settings">

                                                <div class="form-group col-md-12">
                                                    <label for="first_name">Public Name</label>
                                                    {{ public_info_form.public_name|add_class:'form-control text-view' }}
                                                    <span class="error"></span>
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label for="first_name">Public Email</label>
                                                    {{ public_info_form.public_email|add_class:'form-control text-view' }}
                                                    <span class="error"></span>
                                                </div>


                                                <div class="form-group col-md-12">
                                                    <label for="first_name">Public URL</label>
                                                    {{ public_info_form.public_url|add_class:'form-control text-view' }}
                                                    <span class="error"></span>
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label for="confirm_password">Use <a href="https://en.gravatar.com/" target="_blank">Gravatar</a></label>
                                                    {{ public_info_form.use_gravatar }}
                                                    <span class="error"></span>

                                                </div>


                                                   <div class="form-group col-md-6">

                                                    <button type="submit" class="btn- btn-default btn-log ">Update Account</button>

                                                   </div>


                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="dropdown1" aria-labelledby="dropdown1-tab">
                                    <div class="comming-soon">content coming soon.......!
                                        <img class="emoji" src="{% static '/images/emoji.jpg'%}">
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="dropdown2" aria-labelledby="dropdown2-tab">
                                    <div class="comming-soon">content coming soon.......!
                                        <img class="emoji" src="{% static '/images/emoji.jpg'%}">
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="samsa" aria-labelledby="samsa-tab">
                                    <div class="comming-soon">content coming soon.......!
                                        <img class="emoji" src="{% static '/images/emoji.jpg'%}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    {% endwith %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/clipboard.min.js' %}"></script>
    <script src="{% static 'js/account_settings.js' %}"></script>


{% endblock %}
