{% extends 'gcps/testbase.html' %} {% load staticfiles widget_tweaks %} {% block title %}Signup{% endblock %} {% load i18n %}
<div></div>
{% block content %}
<style type="text/css">
.form-group{
    margin-bottom:1px!important;
}

.account-setting-wrap {
    margin: 20px auto!important;
    }
</style>
<section class="section section-pad">
    <div class="account-setting-wrap">
    <div class="login-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4  login-sec">
                    <div class="container w-100 ">
                        <div class="row align-items-center  text-center h-100">
                          <div class="col-md-12">
                            <a href="{% url 'home' %}">
                            <img class="logo-log" src="{% static 'images/log-log.png' %}" alt="">
                        </a>
                        <h3 class="text-center login-text mt-4">{% trans 'Welcome!' %}</h3>
                          <h4 class="log-subline text-center login-text">{% trans 'Sign in by entering the information below' %}</h4>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 login-sec">
                            
                  

                    <div class="form-group col-xs-12">
                        <form id="signupForm" action="." method="post" novalidate class="pad20 col-xs-12">{% csrf_token %}
                            <div class=" form-group">
                                {% render_field form.username class="form-control username-log" placeholder="Username" %}
                                <span class="error"></span>
                            </div>

                           
                                <div class="row padx0">
                                    <div class="col-md-6 form-group">
                                        {% render_field form.email class="form-control username-log" placeholder="Email" %}
                                        <span class="error"></span>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        {% render_field form.confirm_email class="form-control username-log" placeholder="Confirm Email" %}
                                        <span class="error"></span>
                                    </div>
                                </div>
                                <div class="row padx0">
                                    <div class="col-md-6 form-group">
                                        {% render_field form.password1 class="form-control username-log" placeholder="Password" %}
                                        <span class="error"></span>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        {% render_field form.password2 class="form-control username-log" placeholder="Confirm Password" %}
                                        <span class="error"></span>
                                    </div>
                                </div>
                           
                            <p class="text-left text-info">{% blocktrans %} Please make it at least 10 characters long and include letters, numbers, and
                                special characters. {% endblocktrans %}</p>
                            <h5 class="login-text">{% trans "Timezone" %}</h5>
                            <div class=" form-group">
                                {% render_field form.timezone class="selectpicker picker-signup form-control" placeholder="Confirm Password" %}
                                <span class="error"></span>
                            </div>
                            <div class="text-left form-group">
                                <div class="checkbox signup-ceckbox col-xs-12  text-inline">
                                    {{ form.need_newsletter }}
                                    <label for="checkbox1  " class="login-text mt-3">
                                        {% trans 'Send newsletters and other relevant information to my provided e-mail.' %}
                                    </label>
                                </div>
                                
                                <div class="checkbox signup-ceckbox col-xs-12">
                                    {{ form.accept_terms_and_conditions }}
                                    <label for="checkbox1  " class="login-text mt-3">
                                        {% trans 'Have read and agree to the' %}
                                        <span class="terms">{% trans 'Terms of Service.' %}</span>
                                    </label><br>
                                    <span class="error"></span>
                                </div>
                            </div>
                            <div class="text-center">
                            <button type="submit" class="btn btn-outline-orange btn-log sign-button">{% trans 'Signup' %}</button>
                        </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</section>
{% endblock %} {% block script %}

<script src="{% static 'js/common.js' %}" ></script>    
<script>
    var cd;
    var captchaResult = false;
    $(function () {
        $('#signupForm').on('input', function (e) {
            $(this).find('.error').text('')
        });

        $('#signupForm').submit(function (e) {
            e.preventDefault();
            if (captchaResult == true) {
                var form_submit_status = formSubmit('#signupForm', '{% url "accounts:signup" %}');
                console.log(captchaResult, form_submit_status, "captcha form submit")
                if (captchaResult && form_submit_status)
                    location.replace("{% url 'accounts:signup_complete'  %}");
            }
            if (!captchaResult || !form_submit_status)
                return false;
        });
    });
</script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LfNl2cUAAAAAKoPIBFAyyN9tF9hgCKBIrX2n_bo', {action: 'action_name'})
            .then(function (token) {
                captchaResult = true;
            });
    });
</script>

{% endblock %}