{% extends 'gcps/base.html' %} {% load staticfiles %}  {% load i18n %}

{% block content %}
<section class="section section-pad">
    <div class="bx-ash ">
<div class="dark-page-header text-center">
    <h1 class="pad10 mt-2">
        {% trans 'STORE Edit' %}</h1>
    <h4 class="mt-2">
        <p>{% trans 'Edit details of your store' %}</p>
    </h4>
    
</div>
<form method="post"  enctype="multipart/form-data">{% csrf_token %}
    {% include 'exmr_form.html' %}
    <input class="btn btn-warning" style="margin: 10px 0px 24px 560px;" type="submit" value="Save">
</form>
</div>
</section>
{% endblock %}