{% extends 'exmr.html' %} {% load staticfiles %} {% block content %} {% load i18n %}
<style type="text/css">
    .star-ratings-css {
      unicode-bidi: bidi-override;
      color: #c5c5c5;
      font-size: 25px;
      height: 25px;
      width: 100px;
      margin: 0 auto;
      position: relative;
      padding: 0;
      text-shadow: 0px 1px 0 #a2a2a2;
    }
    .star-ratings-css-top {
      color: #e7711b;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    .star-ratings-css-bottom {
      padding: 0;
      display: block;
      z-index: 0;
    }</style>
<section>
    <div class="dark-page-header text-center">
        <h1 class="pad10 mt-2">
            {% trans 'STORE DIRECTORY' %}</h1>
        <h4 class="mt-2">
            <p>{% trans 'Largest directory of merchants accepting multiple cryptocurrencies' %}
        </h4>
        <div class="container-fluid mt-5 padx0">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 padx0">
                <form id="searchform" action="{% url 'store:store-search' %}" method="get" accept-charset="utf-8">
                    <div class="input-group">
                        <input type="text" class="form-control search-area" placeholder="Search" name="q" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default search-button" type="submit">{% trans 'Search' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <!-- sidebar -->
        <div class="col-xs-12 hidden-md hidden-lg">
            <div id="mySidenav" class="sidenav hidden-md hidden-lg">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <ul class="sidebar-ul">

                    <a href="/en/store/store-directory/art-collectibles/">
                        <li class="directoru-menu menu-story">Art &amp; Collectibles
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/charities/">
                        <li class="directoru-menu menu-story">Charities
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/dining-groceries/">
                        <li class="directoru-menu menu-story">Dining &amp; Groceries
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/electronics-mining/">
                        <li class="directoru-menu menu-story">Electronics &amp; Mining
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/gaming-ebooks/">
                        <li class="directoru-menu menu-story">Gaming &amp; eBooks
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/gift-cards-prepaid/">
                        <li class="directoru-menu menu-story">Gift Cards / Prepaid
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/health-beauty/">
                        <li class="directoru-menu menu-story">Health &amp; Beauty
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/hosting-vps-vpn/">
                        <li class="directoru-menu menu-story">Hosting / VPS &amp; VPN
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/investments-metals/">
                        <li class="directoru-menu menu-story">Investments / Metals
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/misc-products/">
                        <li class="directoru-menu menu-story">Misc Products
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/music-movies-tv/">
                        <li class="directoru-menu menu-story">Music / Movies &amp; TV
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/shoes-clothing/">
                        <li class="directoru-menu menu-story">Shoes &amp; Clothing
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/socialseomarketing/">
                        <li class="directoru-menu menu-story">Social/SEO/Marketing
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/tickets-travel/">
                        <li class="directoru-menu menu-story">Tickets &amp; Travel
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/adult-18/">
                        <li class="directoru-menu menu-story">Adult 18+
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                    <a href="/en/store/store-directory/all-stores/">
                        <li class="directoru-menu menu-story">All Stores
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>

                </ul>
            </div>

            

            <!-- <span style="font-size:30px;cursor:pointer; z-index: 98;" onclick="openNav()" data-spy="affix" id="navsideicon">&#9776;</span> -->
        </div>
        <!-- sidebar -->


        <div class="hidden-xs hidden-sm col-md-4">

            <ul class="md-ul">

                {% for category in categories%}
                    <a href="{% url 'store:store-item' category.slug %}">
                        <li class="directoru-menu menu-story">{{category.name}}
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>
                    {% endfor %}

            </ul>
        </div>

    <div class="container mt-5">
        <!-- sidebar -->
        <div class="col-xs-12 hidden-md hidden-lg">
            <div id="mySidenav" class="sidenav hidden-md hidden-lg">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <ul class="sidebar-ul">

                    {% for category in categories%}
                    <a href="{% url 'store:store-item' category.slug %}">
                        <li class="directoru-menu menu-story">{{category.name}}
                            <span class="glyphicon glyphicon-chevron-right floatr" aria-hidden="true"></span>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>

            <div type="button" class="btn store-btn" onclick="openNav()" data-spy="affix" id="navsideicon" style="font-size:30px;cursor:pointer; z-index: 98;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>

            <!-- <span style="font-size:30px;cursor:pointer; z-index: 98;" onclick="openNav()" data-spy="affix" id="navsideicon">&#9776;</span> -->
        </div>
        <!-- sidebar -->


        <div class="col-xs-12 col-md-8" id="test">
            <div class="col-xs-12">
                <h2>All Stores</h2>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-6">
                    <label for="sel1">Select list:</label>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>

                </div>
                <div class="col-xs-12 col-sm-6">
                    <label for="sel1">Select list:</label>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>

                </div>
            </div>
            {% for store in stores%}
                <div class="col-xs-12 mt-2 store-list" id="test">
                    <div class="col-xs-12 col-sm-3 text-center">
                            <p></p>
                            <div class="star-ratings-css" data-toggle="tooltip" title="the store has a rating of {{store.percent}}%">
                                    <div class="star-ratings-css-top" style="width: {{store.percent}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>
                        
                            
                        
                    </div>
                    <div class="col-xs-12 col-sm-7 text-center">
                        
                        <h1><a href="{% url 'store:store-item-rate' category.slug store.pk %}">{{store.store_name}}</a></h1>
                        <img src="{{ store.banner_image_url }}" class="img-responsive w150px margin-center">
                        <p>
                            <a href="{{store.store_url}}">{{store.store_url}}</a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-2 text-center">
                        <button class="btn btn-primary mt-xs-10p mt-3" onclick="location.href='{% url 'store:check-out' store.id %}'">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </button>
                    </div>
                </div>
            {% endfor %}

            
            </div>

        </div>
    </div>
    </div>
</section>
{% endblock %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{% block script %}
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

</script>

<script>
    $('#navsideicon').affix({
        offset: {
            bottom: $('#footer').height()
        }
    });
</script> {% endblock %}