{% extends 'exmr.html' %} {% load staticfiles %} {% block content %} {% load i18n %}
<section>
    <div class="dark-page-header text-center">
        <h1 class="pad10 mt-2">
            {% trans 'STORE DIRECTORY' %}</h1>
        <h4 class="mt-2">
            <p>{% trans 'Largest directory of merchants accepting multiple cryptocurrencies' %}
        </h4>
        <div class="container-fluid mt-5 padx0">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 padx0">
                <form id="searchform" action="{% url 'store:store-search' %}" method="get" accept-charset="utf-8">
                    <div class="input-group">
                        <input type="text" class="form-control search-area h50pxi" placeholder="Search" name="q" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default search-button" type="submit">{% trans 'Search' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            {% for category in categories %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 menu-box ">
                <a href="{{category.slug}}">
                    <div class="menu-icon-wrap">
                        <img class="store-icons" src="{{category.image.url}}">
                    </div>
                    <div class="menu-icon-wrap">
                        <h4 class="store-title">{{category.name}}</h4>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}


{% block script %}

{% endblock %}
