{% extends 'gcps/base.html' %} {% load staticfiles %} {% load i18n %} {% block content %}
<section class="section section-pad">
	<div class="bx-ash ">
    <div class="dark-page-header text-center">
        <h1>COMING SOON</h1>
        <h4>This Page is under Active Development, and will be released in Full Running Version</h4>
    </div>
</div>

	
    <div class="container ">
    	<div class="account-setting-wrap">
        <div class="text-center">
            <img class="img-responsive" src="{% static 'images/loader.gif' %}">
        </div>
    </div>
    </div>

       
    
    <form action="https://www.coinpayments.net/index.php" method="post">
        <input type="hidden" name="cmd" value="_pay">
        <input type="hidden" name="reset" value="1">
        <input type="hidden" name="merchant" value="448e5ddcb3032f0c76fbc877a5d1941b">
        <input type="hidden" name="item_name" value="kite">
        <input type="hidden" name="item_number" value="22">
        <input type="hidden" name="invoice" value="asda344">
        <input type="hidden" name="currency" value="USD">
        <input type="hidden" name="amountf" value="10.00000000">
        <input type="hidden" name="quantity" value="1">
        <input type="hidden" name="allow_quantity" value="0">
        <input type="hidden" name="want_shipping" value="1">
        <input type="hidden" name="allow_extra" value="0">
        <input type="image" src="https://www.coinpayments.net/images/pub/buynow-med-grey.png" alt="Buy Now with CoinPayments.net">
    </form>
    


</section>

{% endblock %} {% block script %}{% endblock %}
