{% extends 'gcps/testbase.html' %} {% load staticfiles %} {% load i18n %} {% block content %}
<section class="section section-pad">
	<div class="bx-ash ">
    <div class="dark-page-header text-white text-center">
        <h1>COMING SOON</h1>
        <h4>This Page is under Active Development, and will be released in Full Running Version</h4>
    </div>
</div>

	
    <div class="container ">
    	<div class="account-setting-wrap">
        <div class="text-center">
            <img class="img-responsive" src="{% static 'images/loader.gif' %}">
        </div>
    </div>
    </div>


</section>

{% endblock %} {% block script %}{% endblock %}
