{% extends 'exmr.html' %} {% load staticfiles %} {% load i18n %} {% block content %}
<section>
    <div class="dark-page-header text-center">
        <h1>Support</h1>
        <h4>Need a little help?</h4>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">

            <div class="panel panel-default mt-5">
                <div class="panel-heading">
                   <h3 class="panel-title"><strong>Coin Hosting Request</strong></h3> 
                </div>
                <div class="panel-body">Coin hosting on the EXMR platform is the ideal way to increase the number of users of your coin.
                    Our hosted wallets allow users to store, send, and receive your coin and our custom APIs and plugins
                    allow merchants to easily accept payment in your coin (non-ERC20 only at the moment). With over 1,059,500
                    vendors across 182 countries, it's only a matter of time before the adoption of your coin starts to grow.
                    To get started simply fill out the form below then pay the $25.00 non-refundable application fee.
                    <br>
                    <br> Our Coin Hosting Packages Include:
                    <br>
                    <br>

                    <ul>
                        <li>Initial Setup</li>
                        <li>Hosting*</li>
                        <li>Maintenance &amp; Updates</li>
                        <li>Marketing Package</li>
                    </ul>

                    When deciding if your coin is a good fit for our platform, we typically look for the following:
                    <br>
                    <br>

                    <ul>
                        <li>Open Source Code</li>
                        <li>Top 200 Ranking on Coin Market Cap</li>
                        <li>Listed on Exchanges</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block script %}{% endblock %}