{% extends 'exmr.html' %} {% load staticfiles %} {% load i18n %} {% block content %}
<section>
    <div class="dark-page-header text-center">
        <h1>Support</h1>
        <h4>Need a little help?</h4>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mt-3 alert alert-warning">
                <strong>Warning!</strong> Indicates a warning that might need attention.
            </div>
            <div class="col-xs-12 mt-1 alert alert-danger">
                <strong>
                    <span class="font-h3">What we can't help you with!</span>
                </strong>
            </div>
            <ol>
                <li>Questions about how Bitcoin or other cryptocurrencies work.</li>
                <li>How to purchase Bitcoins with your credit card or bank account - there are many exchanges and methods available
                    for this and we are unable to recommend particular ones.</li>
                <li>Problems with 3rd party services/merchants.</li>
                <li>Refunds for completed transactions - all transactions are final and cannot be refunded.</li>
                <li>How to buy/sell coins.</li>
                <li>Account Deletions - EXMR accounts cannot be deleted, however you can discontinue using them at any
                    time with no notice to us.</li>
            </ol>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Support Wizard</h3>
                </div>
                <div class="panel-body">
                    <h3 class="supwiz-heading">To get started, what can we help you with?</h3>
                    <div class="list-group">
                        <a href="" class="list-group-item">
                            <h4 class="list-group-item-heading">Conversions</h4>
                            <p class="list-group-item-text">I have a problem with a conversion in the EXMR system.</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h4 class="list-group-item-heading">Wallet Issues</h4>
                            <p class="list-group-item-text">I have a problem in my wallet such as a withdrawal, deposit, or transfer.</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h4 class="list-group-item-heading">Login/2FA Issues</h4>
                            <p class="list-group-item-text">Problems logging in or with your 2FA devices/apps.</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h4 class="list-group-item-heading">As a Buyer</h4>
                            <p class="list-group-item-text">Problems with an order you made through EXMR including refunds.</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h4 class="list-group-item-heading">As a Merchant</h4>
                            <p class="list-group-item-text">Problems with an order a buyer made from you, API and integration questions, etc.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block script %}{% endblock %}