{% extends 'exmr.html' %} {% load staticfiles %} {% load i18n %} {% block content %}
<section>
    <div class="dark-page-header text-center">
        <h1>Support</h1>
        <h4>Need a little help?</h4>
    </div>
</section>
<section>
    <div class="container">
        <div class="page-row" style="height: 25px;"></div>
        <div class="page-row page-row-expanded">
            <div class="container">
            <style>
                p { padding:0px; margin:0px; }
            </style>
                <div class="panel panel-default">
                <div class="panel-heading">Contact Us</div>
                <div class="panel-body">
              
                        <h4>This form is not for support requests! All support requests must be via the <a href="{% url 'common:help' %}">Support Ticket</a> system. Any support requests sent via this form will be ignored.</h4>
                        <h4>If you want to add your coin to GetCryptoPayments, <a href="{% url 'coins:add-public-coin' %}">click here</a>.</h4>
                        
                        <form action="." method="POST">
                            {% csrf_token %}
                            <table class="table table-bordered table-condensed">
                                <thead>
                                    <tr><th class="center" colspan="3"><h3>Submit Message</h3></th></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span style="font-size:large;">Your Name</span></td>
                                        <td><input type="text" id="id_name" class="form-control" name="name" value="" required=""></td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-size:large;">Your Email</span></td>
                                        <td><input type="email" id="id_email" class="form-control" name="email" value="" required=""></td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-size:large;">Category</span></td>
                                        <td><select id="id_category" class="form-control" name="category" required=""><option value="Sales">Sales</option><option value="ICO Services">ICO Services</option><option value="Partnership Requests">Partnership Requests</option><option value="Other">Other</option></select></td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-size:large;">Message</span></td>
                                        <td><textarea name="message" id="id_message" class="form-control" rows="10" required=""></textarea></td>
                                    </tr>
                                    
                                    <tr>
                                        <td colspan="2" class="text-center"><button class="btn btn-primary">Submit Message</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="hidden" name="screen_res" value="1366x768">
                        </form>           
                    </div>
                </div>
            </div>   



        </div>
    </div>
</section>

{% endblock %} {% block script %}
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LfNl2cUAAAAAKoPIBFAyyN9tF9hgCKBIrX2n_bo', {
                action: 'action_name'
            })
            .then(function (token) {
                captchaResult = true;
            });
    });
</script>
{% endblock %}