{% extends 'gcps/base.html' %} {% load staticfiles %} {% block content %} {% load i18n %}
<section class="section section-pad">
     <div class="bx-ash ">
    <div class="merchant-tools merchant-one dark-page-header">
        <h1>Help</h1>
        <h3>Frequently Asked Questions </h3>
    </div>
</div>
<br>
    <div class="container-fluid xs-padx1">
        <div class="row xs-padx1">
            <div class="col-xs-12 col-md-4 ">
                <div class="help-sidebar">
                    <h4 class="sidebar-label help-label">Help</h4>
                    
                   
                    {% for topic in help_sidebar %}

                    <li>
                        <a href="{% url 'common:helptopic' topic.slug %}" class="sidebar-link">{{topic.help_topic}}</a>
                    </li>
                    {% endfor %}
                    <h4 class="sidebar-label help-label">Legal</h4>
                    {% for topic in legal_sidebar %}

                    <li>
                        <a href="{% url 'common:helptopic' topic.slug %}" class="sidebar-link">{{topic.help_topic}}</a>
                    </li>
                    {% endfor %}
                </div>

            </div>
            <div class="col-xs-12 col-md-8 text-justify">
                {% for obj in details %}
                <div id="help-answer" class="text-justify" style="color: white">
                   <p class="login-text">{{obj.help_answer|safe}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% block script %}
<script src="{% static 'js/exmr.js' %}"></script>
{% endblock %}
{% endblock %}