{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% load i18n %}
    {% block meta %}
        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="GETCRYPTOPAYMENTS">
        <meta itemprop="description" content="GETCRYPTOPAYMENTS">
        <meta itemprop="image" content={{ request.scheme }}://{{ request.get_host }}://{% static 'images/logo.png' %}>

        <!-- Twitter Card data -->
        <meta name="twitter:title" content="GETCRYPTOPAYMENTS">
        <meta name="twitter:description" content="GETCRYPTOPAYMENTS">
        <meta name="twitter:image" content={{ request.scheme }}://{{ request.get_host }}://{% static 'images/logo.png' %}>

        <!-- Open Graph data -->
        <meta property="og:title" content="GETCRYPTOPAYMENTS" />
        <meta property="og:image" content={{ request.scheme }}://{{ request.get_host }}{% static 'images/logo.png' %} />
        <meta property="og:description" content="GETCRYPTOPAYMENTS" />
    {% endblock %}
    <section>
        <div class="banner-log">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <img class="banner-img-circle img-responsive" src={% static 'images/banner-img.png' %} alt="">
                    </div>
                    <div class="col-sm-6 banner-content">
                        <div class="banner-head-line">
                        {% trans 'Accept over 140 altcoins now for only 0.50' %}%
                        </div>
                        <p>{% trans 'Integrated payment gateway for cryptocurrencies such as Bitcoin and Litecoin' %}</p>
                        <button type="submit" class="btn- btn-default btn-get-strat">{% trans 'Get Start' %}</button>
                    </div>

                </div>
                <div class="hidden-xs col-sm-12">
          <span class="scroll-btn">
            <a href="#">
              <span class="mouse">
                <span>
                </span>
          </span>
          </a>
          <p>{% trans 'scroll me' %}</p>
          </span>

                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="second-sec">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ios-box">
                        <div class="col-sm-6 runnnig-sec">

                            <img class="coin-b" src={% static 'images/b-coin.png' %} alt="">
                            <span class="running"> {% trans 'Running an ICO?' %}</span>
                            <p>{% trans 'Let Getcryptopayments help with:' %}</p>
                            <ul>
                                <li> {% trans 'Accepting payments from over 150 different coins' %}</li>
                                <li> {% trans 'Accepting payments from over 150 different coins' %}</li>
                            </ul>
                            <button type="submit" class="btn- btn-default btn-more">{% trans 'Find Out More' %}</button>

                        </div>
                        <div class="col-sm-6 runnnig-sec">
                            <img class="coin-b" src={% static 'images/fingure.png' %} alt="">
                            <span class="running">{% trans '$PayByName' %}</span>
                            <p>{% trans 'One unique $tag to receive payments from all coins.' %} </p>
                            <h1>{% trans 'Example Profile' %}</h1>
                            <div class="co-md-6">
                                <div class="pay-by">
                                    <div class="doller">$</div>
                                    <div class="input-coin">
                                        <div class="form-group ">
                                            <input type="text" class="form-control form-coin" id="pwd">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn- btn-default btn-more check-availabe">Check
                                        {% trans 'Available' %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 shopping-cart">{% trans 'Shopping Cart Plugins' %}</div>
                    <div class="col-sm-12 shopping">{% trans 'Offering plugins for all the popular webcarts used today. Register and install a plugin to set up Getcryptopayments with your new or pre-existing checkout' %}
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 box">
                        <img class="cart-name" src={% static 'images/cart01.png' %} alt="">
                    </div>
                    <div class="col-sm-3 box">
                        <img class="cart-name" src={% static 'images/cart02.png' %} alt="">
                    </div>

                    <div class="col-sm-3 box">
                        <img class="cart-name" src={% static 'images/cart03.png' %} alt="">
                    </div>

                    <div class="col-sm-3 box ">
                        <img class="cart-name" src="{% static 'images/cart04.png' %}" alt="">
                    </div>

                    <div class="col-sm-3 box box1">
                        <img class="cart-name" src="{% static 'images/cart05.png'  %}" alt="">
                    </div>

                    <div class="col-sm-3 box box1">
                        <img class="cart-name" src={% static 'images/cart06.png' %} alt="">
                    </div>

                    <div class="col-sm-3 box box1">
                        <img class="cart-name" src={% static 'images/cart07.png' %} alt="">
                    </div>
                    <div class="col-sm-3  box box1">
                        <img class="cart-name" src={% static 'images/cart08.png' %} alt="">
                    </div>

                </div>
                <div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-sm-12 shopping-cart">{% trans 'Payment Features' %}</div>
                <div class="col-sm-12 shopping">{% trans 'Getcryptopayments supports BitGo Instant making Bitcoin payments fasterthan ever before.' %}
                </div>

                <div class="col-sm-6 text-right">
                    <div class="payment-sect">
                        <span class="vline"></span>
                        <!-- repeat -->
                        <div class="pay-setbx">
                            <div class="pay-setbx-content right">
                                <h3>{% trans 'BitGo™ Instant' %}</h3>
                                <p>{% blocktrans %}Getcryptopayments supports BitGo Instant making Bitcoin payments faster than ever
                                    before. {% endblocktrans %}</p>
                            </div>
                            <div class="pay-setbx-image right">
                                <img src={% static 'images/coin.png' %}>
                            </div>
                        </div>
                        <!-- repeat end -->

                        <!-- repeat -->
                        <div class="pay-setbx">
                            <div class="pay-setbx-content right">
                                <h3>{% trans 'Vault' %}</h3>
                                <p>{% blocktrans %}Protect your coins in the vault, requiring a time amount you specify before being
                                    able to spend them.{% endblocktrans %}</p>
                            </div>
                            <div class="pay-setbx-image right">
                                <img src={% static 'images/vault.png' %}>
                            </div>
                        </div>
                        <!-- repeat end -->

                        <!-- repeat -->
                        <div class="pay-setbx">
                            <div class="pay-setbx-content right">
                                <h3>{% trans 'Fiat Settlements' %}</h3>
                                <p>{% blocktrans %}United States and Euro merchants now have fiat settlements directly to their bank
                                    accounts. {% endblocktrans %}</p>
                            </div>
                            <div class="pay-setbx-image right">
                                <img src={% static 'images/fiat.png' %}>
                            </div>
                        </div>
                        <!-- repeat end -->

                        <!-- repeat -->
                        <div class="pay-setbx">
                            <div class="pay-setbx-content right">
                                <h3>{% trans 'Point of Sale (POS)' %}</h3>
                                <p>{% blocktrans %}Our hot wallet is secured by BitGo - meaning 100{% endblocktrans %} % {% blocktrans %}of our funds are protected by
                                    multisig technology.{% endblocktrans %}</p>
                            </div>
                            <div class="pay-setbx-image right">
                                <img src={% static 'images/pint-off-sale.png' %}>
                            </div>
                        </div>
                        <!-- repeat end -->

                        <!-- repeat -->

                        <!-- repeat end -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="payment-sect">
                        <!-- repeat -->
                        <div class="pay-setbx">
                            <div class="pay-setbx-content left">
                                <h3>{% trans 'Secured with BitGo' %}</h3>
                                <p>{% blocktrans %}Our hot wallet is secured by BitGo - meaning 100{% endblocktrans %}% {% blocktrans %}of our funds are protected by
                                    multisig technology.{% endblocktrans %}</p>
                            </div>
                            <div class="pay-setbx-image left">
                                <img src={% static 'images/secured.png' %}>
                            </div>
                        </div>
                        <!-- repeat end -->
                        <!-- repeat -->
                        <div class="pay-setbx">
                            <div class="pay-setbx-content left">
                                <h3>{% trans 'Mobile Apps' %}</h3>
                                <p>{% blocktrans %}Access your account, accept payments in person, and convert coins anywhere with our
                                    mobile apps for Android and iOS.{% endblocktrans %}</p>
                            </div>
                            <div class="pay-setbx-image left">
                                <img src={% static 'images/mobileapp.png' %}>
                            </div>
                        </div>
                        <!-- repeat end -->
                        <!-- repeat -->
                        <div class="pay-setbx">
                            <div class="pay-setbx-content left">
                                <h3>{% trans 'Auto Coin Conversion' %}</h3>
                                <p>{% blocktrans %}Auto convert for some of our coins, saving you the trouble of moving funds, wasting
                                    time and fees.{% endblocktrans %}</p>
                            </div>
                            <div class="pay-setbx-image left">
                                <img src={% static 'images/auto-coin.png' %}>
                            </div>
                        </div>
                        <!-- repeat end -->
                        <!-- repeat -->
                        <div class="pay-setbx">
                            <div class="pay-setbx-content left">
                                <h3>{% trans 'Multi-Coin Wallet' %}</h3>
                                <p>{% blocktrans %}Optionally store your coins in our secure online wallet.{% endblocktrans %}</p>
                            </div>
                            <div class="pay-setbx-image left">
                                <img src={% static 'images/multi-coin.png' %}>
                            </div>
                        </div>
                        <!-- repeat end -->
                        <!-- repeat -->
                        <!-- repeat end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="grtstrat-last">
            <div class="container">
                <div class="row">
                    <h4>{% trans 'Over 730,000 vendors across 182 different countries' %}</h4>
                    <p>{% blocktrans %}Getcryptopayments is the first and largest payment processor of over 150 cryptocurrencies{% endblocktrans %}</p>
                    <di class="col-sm-4 sub-company site__title mega ">
                        <img src={% static 'images/coi-deskicon.png' %}>
                    </di>
                    <di class="col-sm-4 sub-company">
                        <img src={% static 'images/retures.png' %}>
                    </di>
                    <di class="col-sm-4 sub-company">
                        <img src={% static 'images/yahoo-icon.png' %}>
                    </di>
                    <button type="submit" class="btn- btn-default btn-more check-availabe coin-sale">Check Available
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div id="testimonials">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="testimonials-list">

                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial">
                                        <div class="testimonial-holder">
                                            <div class="testimonial-content">{% blocktrans %}We wanted to accept Start coin payments so
                                                we starting developing. We wanted to accept Ether payments so we
                                                starting developing. Then we realised Getcryptopayments could do the
                                                hard work for us and we could accept all payments and receive the money
                                                in Bitcoin. Thanks Getcryptopayments, we only need to develop with one
                                                API now.{% endblocktrans %}
                                                <p>{% trans 'Start Coin by  Stellar Lumens Coin' %}</p>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End of Single Testimonial -->

                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial">
                                        <div class="testimonial-holder">
                                            <div class="testimonial-content">{% blocktrans %}We wanted to accept Start coin payments so
                                                we starting developing. We wanted to accept Ether payments so we
                                                starting developing. Then we realised Getcryptopayments could do the
                                                hard work for us and we could accept all payments and receive the money
                                                in Bitcoin. Thanks Getcryptopayments, we only need to develop with one
                                                API now.{% endblocktrans %}
                                                <p>{% trans 'Johannes S by Jed McCaleb CEO stellar.org' %}</p>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End of Single Testimonial -->

                                    <!-- Single Testimonial -->

                                    <!-- End of Single Testimonial -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Testimonials -->


            </div>
        </div>
    </section>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/slick.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.testimonials-list').slick({
                dots: true,
                autoplay: true,
                prevArrow: '<span class="fa-stack testimonial-left-handle fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-caret-left fa-stack-1x"></i></span>',
                nextArrow: '<span class="fa-stack testimonial-right-handle fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-caret-right fa-stack-1x"></i></span>',
            });
        });
    </script>
{% endblock %}

