{% extends 'gcps/base.html' %} {% load staticfiles %} {% load i18n %} {% block content %}
<section class="section section-pad">
    <div class="bx-ash ">
    <div class="dark-page-header text-center">
        <h1>{{staticpage.topic}}</h1>
    </div>
</div>

    <div class="container account-setting-wrap">
        <div class="row">
            <div class="col-xs-12 my-1">
                    {% autoescape off %} {{staticpage.content}} {% endautoescape %}
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block script %}{% endblock %}