{% extends 'gcps/testbase.html' %}
{% load i18n staticfiles widget_tweaks %}
{% block title %}Reset Password{% endblock %}
{% block content %}
{% if validlink %}
<section class="section section-pad">
   <div class="account-setting-wrap">
      <div class="login-bg">
         <div class="container">
            <div class="row">
               <div class=" offset-md-3 col-md-6 login-sec">
                  <div class="form-group text-center">
                     <img class="logo-log" src="{% static 'images/log-log.png' %}" alt="">
                  </div>
                  <div class="form-group welcome text-center text-white">Reset Password</div>
                  <h3 class="log-subline text-center text-white">To reset your password, enter your new password below</h3>
                  <div class="form-group">
                     {{ form.non_field_errors }}
                     <form method="post" novalidate>
                        <div class="form-group">{% csrf_token %}
                           {% render_field form.new_password1 class="form-control usernmae-log" placeholder="New password" %}
                           {{ form.new_password1.errors }}
                        </div>
                        <div class="form-group text-center">
                           {% render_field form.new_password2 class="form-control usernmae-log" placeholder="Confirm password" %}
                           {{ form.new_password2.errors }}
                           <button type="submit" class="btn btn-outline-orange btn-lg btn-log forgot-pw my-3">Submit
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>`
      </div>
   </div>
</section>
{% else %}
<div class="section section-pad">
   <div class="min-height-content account-setting-wrap">
      <h2 class="text-white">{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
      </h2>
   </div>
</div>
{% endif %}
{% endblock %}
{% block extra_js %}
{% endblock %}