{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <section>
        <div class="dashboard-bg">
            <div class="merchant-tools merchant-one">
                <div class=" container merchant-box">MERCHANT TOOLS
                </div>
                <div class="container subline-p merchant-toolp">
                    <p>Instant ceyto checkout with easy to use cart plugin,advanced,invoice builder,and API for custom integration
                </div>

            </div>
            <div class="container">

                <div class="dashboard-wrapper top-sec">
                    <div class="cotainer">
                        <p>If you would like to be updated about new API or changes to existing Apis <span class="click">click here</span></p>
                    </div>
                    <div class="col-sm-3 merchant-box01">
                        <div class="icon-merchant">
                            <img class="cart-icon" src="{% static 'images/cart.png' %}">
                        </div>
                        <h5 class=" shopping-headline">SHOPPING CART PLUGIN</h5>
                        <ul  >
                            <li>Plugin Downloads</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 merchant-box01">
                        <div class="icon-merchant">
                            <img class="cart-icon" src="{% static 'images/api.png' %}">
                        </div>
                        <h5 class=" shopping-headline">API & IPNs</h5>
                        <ul  >
                            <li>Instant Payment Notification</li>
                            <li>CoinpaymentAPI</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 merchant-box01">
                        <div class="icon-merchant">
                            <img class="cart-icon" src="{% static 'images/invoice.png' %}">
                        </div>
                        <h5 class=" shopping-headline">INVOICE BUILDER</h5>
                        <ul  >
                            <li>Payment Request invoice maker</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 merchant-box01">
                        <div class="icon-merchant">
                            <img class="cart-icon" src="{% static 'images/point.png' %}">
                        </div>
                        <h5 class=" shopping-headline">POINT OF SALE(POS) INTERFACE</h5>
                        <ul  >
                            <li>HTML URL/ POSTF ields</li>
                            <li>Post link QR Code Generator</li>
                            <li>POS Examle</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 merchant-box01">
                        <div class="icon-merchant">
                            <img class="cart-icon" src="{% static 'images/simle-button.png' %}">
                        </div>
                        <h5 class=" shopping-headline">SIMPLE BUTTONS</h5>
                        <ul  >
                            <li>Button Maker</li>
                            <li>HTML Post Field</li>
                            <li>Button Examples</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 merchant-box01">
                        <div class="icon-merchant">
                            <img class="cart-icon" src="{% static 'images/advance.png' %}">
                        </div>
                        <h5 class=" shopping-headline">ADVANCE BUTTONS</h5>
                        <ul  >
                            <li>Button Maker</li>
                            <li>HTML Post Field</li>
                            <li>Button Examples</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 merchant-box01">
                        <div class="icon-merchant">
                            <img class="cart-icon" src="{% static 'images/shopping-cart.png' %}">
                        </div>
                        <h5 class=" shopping-headline">SHOPPING CART BUTTONS</h5>
                        <ul  >
                            <li>HTML Post Field</li>
                            <li>Button Examples</li>
                            <li>Button Images</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 merchant-box01">
                        <div class="icon-merchant">
                            <img class="cart-icon" src="{% static 'images/donation.png' %}">
                        </div>
                        <h5 class=" shopping-headline">DONATION BUTTONS</h5>
                        <ul  >
                            <li>Button Maker</li>
                            <li>HTML Post Field</li>
                            <li>Button Examples</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}




</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/datepicker.min.js"></script>
<script>
    (function ($) {

        'use strict';

        $(document).on('show.bs.tab', '.nav-tabs-responsive [data-toggle="tab"]', function (e) {
            var $target = $(e.target);
            var $tabs = $target.closest('.nav-tabs-responsive');
            var $current = $target.closest('li');
            var $parent = $current.closest('li.dropdown');
            $current = $parent.length > 0 ? $parent : $current;
            var $next = $current.next();
            var $prev = $current.prev();
            var updateDropdownMenu = function ($el, position) {
                $el
                    .find('.dropdown-menu')
                    .removeClass('pull-xs-left pull-xs-center pull-xs-right')
                    .addClass('pull-xs-' + position);
            };

            $tabs.find('>li').removeClass('next prev');
            $prev.addClass('prev');
            $next.addClass('next');

            updateDropdownMenu($prev, 'left');
            updateDropdownMenu($current, 'center');
            updateDropdownMenu($next, 'right');
        });

    })(jQuery);
    $('.datepicker').datepicker();
    $('.timepicker').timepicker({
        timeFormat: 'h:mm p',
        interval: 60,
        minTime: '10',
        maxTime: '6:00pm',
        defaultTime: '11',
        startTime: '10:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });
</script>

</html>