body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.btn-item{
    padding-right: .5rem;
    padding-left: .5rem;
}

.btn-r-0{
    border-radius: 0px;
}

.btn{
    font-size: 12px;
    border-radius: 3px;
}

.nav-colored{
    background-color:#101010;
}

.btn-default{
    background-color: #dbdbdb;
    color: #000000;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus{
    background-color: #b4b4b4;
    color: #000000;
}

.btn-outline-default{
    border: 1px solid #dbdbdb;
    color: #b4b4b4;
    background-color: transparent;
}

.btn-outline-default:hover,
.btn-outline-default:active,
.btn-outline-default:focus{
    border: 1px solid #b4b4b4;
    color: #000000;
    background-color: #b4b4b4;
}

.btn-outline-orange{
    border: 1px solid #f7931b;
    background-color: transparent;
    color: #f7931b !important;
    border-radius: 3px;
}

.btn-outline-orange:hover,
.btn-outline-orange:active,
.btn-outline-orange:focus{
    border: 1px solid #f7931b;
    background-color: #f7931b;
    color: #ffffff !important;
    border-radius: 3px;
}

.btn-orange{
    border: 1px solid #f7931b;
    background-color: #f7931b;
    color: #ffffff !important;
    border-radius: 3px;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus{
    border: 1px solid #f7931b;
    background-color: #ca7308;
    color: #ffffff !important;
    border-radius: 3px;
}

.text-theme{
    color: #f7931b;
}

.b-300{
    font-weight: 300;
}

.b-400{
    font-weight: 400;
}

.b-600{
    font-weight: 600;
}

.b-700{
    font-weight: 700;
}

.b-800{
    font-weight: 800;
}

.bg-transparent{
    background-color: transparent;
}

img.icon-list {
    max-height: 80px;
}

.center-aligner{
    max-width: 700px;
    margin-left:  auto;
    margin-right:  auto;
}

/* particles */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
  }
  
  /* ---- stats.js ---- */
  
  .count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }
/* particles END */

.navbar-cp{
    padding: 1em 4em;
    padding-top: 1.5em;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 10000;
}

.nav-link-list > li > a{
    color: #ffffff;
}

.nav-link-list > li:hover > a,
.nav-link-list > li:active > a,
.nav-link-list > li:focus > a,
.nav-link-list > li.active > a{
    color: #f7931b;
}

.content-bx{
    padding-top: 70px;
}

.section{
    padding-top: 2em;
    padding-bottom: 2em;
}

.section-pad{
    padding-bottom: 10em;
    padding-top: 10em;
}

.bx-black {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4em 2em;
    border-radius: 5px;
    max-width: 350px;
    margin: 0px auto;
    margin-right: 0px;
    display: block;
    position: relative;
}

.icon-transfer{
    width: 30px;
}

.bx-list{
    list-style: none;
    position: relative;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.bx-list li{
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 1em;
    vertical-align: middle;
}

.grid-2-bx{
    display: grid;
    position: relative;
    grid-template-columns: 60px auto;
}

.bx-ash {
    background: rgba(34,34,34,0.63);
    background: -moz-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,34,34,0.63)), color-stop(100%, rgba(60,59,73,0.63)));
    background: -webkit-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -o-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: linear-gradient(to right, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#3c3b49', GradientType=1 );
    padding: 2em;
    border-radius: 7px;
}

.bx-ash-1 {
    background: rgba(34,34,34,0.63);
    background: -moz-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,34,34,0.63)), color-stop(100%, rgba(60,59,73,0.63)));
    background: -webkit-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -o-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: linear-gradient(to right, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#3c3b49', GradientType=1 );
    border-radius: 7px;
}
.bx-ash-border {
    background: rgba(34,34,34,0.63);
    background: -moz-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,34,34,0.63)), color-stop(100%, rgba(60,59,73,0.63)));
    background: -webkit-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -o-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: linear-gradient(to right, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#3c3b49', GradientType=1 );
    border-radius: 7px;
    color:#fff;
    padding: 1em;
}

.bx-client,
.bx-client *{
    cursor: pointer;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}

.bx-client:hover{
    cursor: pointer;
    margin-top: -5px;
    background: rgba(222,122,0,1);
background: -moz-linear-gradient(left, rgba(222,122,0,1) 0%, rgba(180,110,25,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(222,122,0,1)), color-stop(100%, rgba(180,110,25,1)));
background: -webkit-linear-gradient(left, rgba(222,122,0,1) 0%, rgba(180,110,25,1) 100%);
background: -o-linear-gradient(left, rgba(222,122,0,1) 0%, rgba(180,110,25,1) 100%);
background: -ms-linear-gradient(left, rgba(222,122,0,1) 0%, rgba(180,110,25,1) 100%);
background: linear-gradient(to right, rgba(222,122,0,1) 0%, rgba(180,110,25,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de7a00', endColorstr='#b46e19', GradientType=1 );
}

.bx-client-1:hover{
    cursor: pointer;
    /* margin-top: -5px; */
    background: rgba(222,122,0,1);
background: -moz-linear-gradient(left, rgba(222,122,0,1) 0%, rgba(180,110,25,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(222,122,0,1)), color-stop(100%, rgba(180,110,25,1)));
background: -webkit-linear-gradient(left, rgba(222,122,0,1) 0%, rgba(180,110,25,1) 100%);
background: -o-linear-gradient(left, rgba(222,122,0,1) 0%, rgba(180,110,25,1) 100%);
background: -ms-linear-gradient(left, rgba(222,122,0,1) 0%, rgba(180,110,25,1) 100%);
background: linear-gradient(to right, rgba(222,122,0,1) 0%, rgba(180,110,25,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de7a00', endColorstr='#b46e19', GradientType=1 );
}

.bx-client:hover h6{
    color: #ffffff;
}

.img-icon{
    max-height: 80px;
    margin: 0px auto;
    display: block;
    margin-bottom: 1em;
}

.paybx .bx-client{
    min-height: 320px;
    padding-top: 3em;
}

.carousel-cs-dot{
    left: 0px;
    display: inline-block;
    margin: 0px !important;
    bottom: -10px;
    right: initial;
}

.carousel-cs-dot li{
    display: inline-block;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    background-color: #f7931b;
    opacity: 1;
}

.carousel-cs-dot li.active{
    background-color: #ffffff;
    opacity: 1;
}

.circle-outline {
    display: inline-block;
    position: relative;
    color: #f7931b;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid #f7931b;
    vertical-align: middle;
    padding: 3px 0px;
    text-align: center;
}

.circle-outline:hover,
.circle-outline:active,
.circle-outline:focus {
    border: 1px solid #f7931b;
    background-color: #f7931b;
    color: #ffffff;
    text-decoration: none;
}

.footer-cp{
    position: relative;
    display: block;
    margin-left: -15px;
    margin-right: -15px;
}

.footer-content{
    border-top: 1px solid #64636f;
    border-bottom: 1px solid #64636f;
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer-title{
    color: #f7931b;
    padding-bottom: 1em;
    font-weight: 600;
    position: relative;
    margin-bottom: 7px;
}

.footer-title::before{
    width: 8px;
    height: 8px;
    background-color: #f7931b;
    display: inline-block;
    content: '';
    border-radius: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.footer-title::after{
    width: 80%;
    height: 1px;
    background-color: #f7931b;
    display: inline-block;
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0px;
}

.footer-link-group{
    display: block;
    position: relative;
}

.footer-link-group .footer-link{
    display: block;
    position: relative;
    padding: .5em .78em;
    color: #ffffff;
}

.footer-link-group .footer-link:hover,
.footer-link-group .footer-link:active,
.footer-link-group .footer-link:focus{
    display: block;
    position: relative;
    color: #f7931b;
}

.footer-social{
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 20px 0px;
    margin: 0px;
}

.footer-social li{
    display: inline-block;
    position: relative;
    color: #f7931b;
}

.footer-social li a{
    display: inline-block;
    position: relative;
    color: #f7931b;
    padding: 7px;
    font-size: 18px;
}

.footer-social li a:hover,
.footer-social li a:active,
.footer-social li a:focus{
    display: inline-block;
    position: relative;
    color: #ffffff;
    padding: 7px;
    font-size: 18px;
}

.img-footer-icon{
    border-radius: 3px;
    border: 1px solid #dedeff;
    max-width: 130px;
}

@media(max-width: 991px){
    .titl-bg{
        font-size: 2rem;
    }
    .bx-black{
        max-width: 100%;
        margin-top: 30px;
    }

    .navbar-cp{
        background-color: #101010;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 100%;
        height: auto;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
        color: #fff;
    }
    .btn-item{
        margin-bottom: 1em;
    }
    .navbar-toggler{
        width: 100%;
        margin-bottom: 1em;
    }
    .btn-item{
        padding: 0px;
    }
    .btn-item .btn{
        width: 100%;
    }
}

/* ------------------------------------------------------------------------------*/

.dashboard{
    text-align: center;
    padding-bottom: 15px;
}

.dashboard-nav{
    color: white;
}

.img-dashboard{
    width: 30px;
    height: 30px;
    /* padding: 10px 0px 0px 10px; */
    float: left;
}

.wallets-img {
    width: 30px;
}

.merchant-icon-alt_asis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 37px;
    color: rgb(247, 147, 27);
    font-weight: bold;
}

.icon-merchant {
    height: 100px;
    width: 100px;
    background-color: rgb(247, 147, 27);
    border-radius: 50%;
    margin: 15px auto;
    /* box-shadow: 0 1px 16px 2px #dedede; */
    position: relative;
}

.icon-merchant-alt {
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
    margin: 15px auto;
    /* box-shadow: 0 1px 16px 2px #dedede; */
    position: relative;
}

.btn-history-wrap {
    background: transparent;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: none;
    border-radius: 10px;
    min-height: 100px;
}

.w60px {
    width: 40px;
}

.h50px {
    height: 50px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif !important;
}

.btn-orange{
    background-color: rgb(247, 147, 27);
    border: none;
    padding: 8px 8px 8px 8px;
}

.btn-transparent{
    background-color: transparent;
    border: 2px solid #fff;
    padding: 6px 30px 6px 30px;
    margin-left: 10px;
    color: white;
}

/****************public coin vote*****************/
a {
    color: #e75d14;
}

.a-1 {
    color: #fff;
}

.merchant-tools {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0.5rem;
    color: white;
    margin-top: -20px;
}

.btop {
    border-top: 1px solid #ddd;
}

.account-setting-wrap {
    width: 90%;
    height: auto;
    margin: 30px auto;
    padding: 2rem;
    color:#fff;
    background: rgba(34,34,34,0.63);
    background: -moz-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,34,34,0.63)), color-stop(100%, rgba(60,59,73,0.63)));
    background: -webkit-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -o-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: linear-gradient(to right, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#3c3b49', GradientType=1 );
    border-radius: 7px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .vote_table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .vote_table tr {
        margin-top: 20px;
        padding-bottom:
    }
    .vote_table td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%;
    }
    .vote_table td:before {
        /* Now like a table header */
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 5px;
        white-space: nowrap;
    }
    /*
    Label the data
    */
    .vote_table td:nth-of-type(1):before {
        /* content: "POSITION:    "; */
    }
    .vote_table td:nth-of-type(2):before {
        content: "COIN:    ";
    }
    .vote_table td:nth-of-type(3):before {
        content: "NAME:    ";
    }
    .vote_table td:nth-of-type(4):before {
        content: "VOTES:    ";
    }
    .vote_table td:nth-of-type(5):before {
        content: "PERCENTAGE OF VOTES:   ";
    }
    .vote_table td:nth-of-type(6):before {
        content: "";
        margin-right: -5px;
    }
}

@media screen and (max-width:767px) {
    .xs-padx1 {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    .account-setting-wrap {
        width: 100%;
    }
}
.coin-comp-widget-title {
    text-align: center;
    font-family: gothammedium;
    font-size: 20px;
    color:#CCD1D1;
}
.margin-center {
    margin: 0 auto;
}
.coin-comp-widget {
    text-align: center;
}
.submit-new-coin-text {
    background-image: linear-gradient(0deg,#5F00B2 0,#6938e6 50%,#6938e6)!important;
    color: #fff!important;
    padding: 10px;
    border-radius: 30px;
    font-size: 17px!important;
}
.see-winners {
    background-image: linear-gradient(0deg,#16b101 0,#16b101 50%,#16b101)!important;
    color: #fff!important;
    padding: 10px;
    border-radius: 30px;
    font-size: 17px!important;
}
.search-field {
    margin-right: 20px;
    position: absolute;
    width: 92%!important;
    padding-left: 20px!important;
    padding-right: 120px!important;
    padding-top: 13px!important;
    padding-bottom: 13px!important;
    border-radius: 80px!important;
    border: solid 1px #cdced2!important;
    font: 16px GothamLight!important;
    z-index: 1!important;
    background: #fff!important;
    box-shadow: 0 3px 5px rgba(0,0,0,.09)!important;
}
.btn-search {
    position: absolute;
    right: 0;
    margin-right: 10px;
    z-index: 2;
    border: 0;
    vertical-align: top;
    padding: 8px 28px;
    font-size: 17px;
    border: 1px solid #f7931b;
    background-color: #ca7308;
    font-weight: 700;
    border-radius: 50px;
    height: 46px;
    line-height: 30px;
    color: #fff!important;
    background-size: auto 200%;
    box-shadow: 0 1px 0 rgba(0,0,0,.2878);
    background-position: 0 100%;
    outline: 0!important;
}
.btn-v2 {
    padding: 3px 20px;
    width: auto;
    color: #fff !important;
    background: #e65f19;
}
.progress-green {
    background-color: #16b101 !important;
}

.proceeds-div {
    width: 100%;
    min-height: 60px;
    border-radius: 4px;
    border: solid 1px #a2fbe9;
    background-color: #ddfff8;
    color: #000;
    padding: 15px;
    margin-bottom: 20px;
}

.electroinc {
    color: #ef5362;
    cursor: pointer;
}

.btn-vote-btn2 {
    width: 88px;
    padding-left: 0px;
    padding-right: 0px;
}

.padx0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.padx5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.pady20 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.padt40 {
    padding-top: 40px;
}
.kyc-note{
    color:#fff;
}
/* supported coins */

.dark-page-header {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1.5rem;
    color: white;
    margin-top: -20px;
}

.header-dark-bg {
    background-color: #424557;
    padding: 1rem;
    color: white;
}

.dasboard-head {
    width: 100%;
    background-color: #e8ebef;
    margin-top: 10px;
}

.custom-ul li {
    list-style: none;
}

.w20px {
    width: 20px;
}

.btn-ex {
    width: 110px;
}

.account-setting-wrap2 {
    width: 100%;
    height: auto;
    margin: 30px auto;
    padding: 2rem;
    background: rgba(34,34,34,0.63);
    background: -moz-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,34,34,0.63)), color-stop(100%, rgba(60,59,73,0.63)));
    background: -webkit-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -o-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: linear-gradient(to right, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#3c3b49', GradientType=1 );
    border-radius: 7px;
}

.account-setting-wrap3 {
    width: 100%;
    height: auto;
    margin: 30px auto;
    padding: 2rem;
    background: rgba(34,34,34,0.63);
    background: -moz-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,34,34,0.63)), color-stop(100%, rgba(60,59,73,0.63)));
    background: -webkit-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -o-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: linear-gradient(to right, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#3c3b49', GradientType=1 );
    border-radius: 7px;
}

.dashboard-wrapper {
    margin-top: 1.5rem;
    background-color: #fff;
    height: auto;
    width: 100%;
    float: left;
    box-shadow: 0 1px 16px 2px #dedede;
    margin-bottom: 1.5rem;
}

.dashboard-wrapper-width {
    margin-top: 1.5rem;
    background-color: #fff;
    height: auto;
    float: left;
    box-shadow: 0 1px 16px 2px #dedede;
    margin-bottom: 1.5rem;
}

input[type="radio"] {
    margin-right: 10px;
    height: unset;
    width: unset;
    display: inherit;
}

label, input {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .support-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .support-table tr {
        margin-top: 20px;
        padding-bottom:
    }
    .support-table td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%;
    }
    .support-table td:before {
        /* Now like a table header */
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 5px;
        white-space: nowrap;
    }
    /*
    Label the data
    */
    .support-table td:nth-of-type(1):before {
        content: "COIN:    ";
    }
    .support-table td:nth-of-type(2):before {
        content: "COD:    ";
    }
    .support-table td:nth-of-type(3):before {
        content: "FEE:    ";
    }
    .support-table td:nth-of-type(4):before {
        content: "CONFIRMS:    ";
    }
    .support-table td:nth-of-type(5):before {
        content: "TO BTC:   ";
    }
    .support-table td:nth-of-type(6):before {
        content: "EXPLORE";
    }
}
.btn-ex {
    width: 110px;
}

.orange-bg {
    background: #e75d14;
}
/*******************stores*****************/

.search-area {
    height: 50px;
}

.search-button {
    height: 50px;
    width: 70px;
    background-color: #e75d14;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border: none;
}

.search-button:hover {
    background-color: #ff7226;
    color: whitesmoke;
}

.menu-box {
    min-width: 200px;
    min-height: 160px;
    display: inline-block;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background: rgba(34,34,34,0.63);
    background: -moz-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,34,34,0.63)), color-stop(100%, rgba(60,59,73,0.63)));
    background: -webkit-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -o-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: linear-gradient(to right, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#3c3b49', GradientType=1 );
    border-radius: 7px;
}

.menu-box:hover {
    background-color: #7db9e0;
}

.store-icons {
    width: 60px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.store-title {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/***********merchant-tools************/


.merch-box {
    border: 1px solid #333;
    padding: 5px;
    padding-right: 5px;
    padding-left: 5px;
    height: 250px;
    max-height: 400px;
    text-align: center;
}

.merch-box-alt {
    border: 1px solid #eee;
    padding: 5px;
    padding-right: 5px;
    padding-left: 5px;
    height: 300px;
    max-height: 400px;
    text-align: center;
}

.icon-merchant {
    height: 100px;
    width: 100px;
    background-color: #ff772e;
    border-radius: 50%;
    margin: 15px auto;
    box-shadow: 0 1px 16px 2px #dedede;
    position: relative;
}

.icon-merchant-alt {
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
    margin: 15px auto;
    box-shadow: 0 1px 16px 2px #dedede;
    position: relative;
}

.merchant-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 37px;
    color: #fff;
    font-weight: bold;
}

.merchant-icon-alt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 37px;
    color: #ff772e;
    font-weight: bold;
}

.deposit-content-set {
    padding: 1px;
    border-radius: 4px;
    margin-bottom: 1em;
}

.merch-box ul {
    color: #e75d14;
    cursor: pointer;
    text-align: left;
    padding-left: 0px;
    display: inline-block;
}
.shopping-head{
    color: #fff;
}
.shopping-headline{
    color: #fff;
    font-size: 13px;
}
.merchant-tools-li{
    color: #e75d14;
}

/****************help**************/

.help-sidebar {
    padding-right: 15px;
    border-right: 1px solid #e8e8e8;
    text-align: left;
}

.help-sidebar li {
    list-style: none;
    padding: 8px;
}

.help-sidebar li:hover {
    background: #e75d15;
    color: white !important;
    padding: 10px;
    border-radius: 10px;
}

.help-sidebar li:hover>a {
    color: white;
}

.help-sidebar li:active {
    background: #e75d15;
    color: white !important;
    padding: 10px;
    border-radius: 10px;
}

.help-sidebar li:active>a {
    color: white;
}
.help-label{
    color:#A6ACAF;
}
.table-bordered td,tr{
    border: 1px solid #333;
}
.table-bordered th {
   border: 1px solid #333;
}
.table thead th {
 border-bottom: 1px solid #333;
 border-top: none;
 color: #fff;
}
.login-text{
 color:#A6ACAF;
}
.text-info {
    color: #e75d15;
    font-size: 12pt;
    font-weight: 600;
}

a {
    color: #ffffff;
}

a:hover {
    color: #000000;
    text-decoration: none;
}
/*******************stores*****************/

.search-area {
    height: 50px;
}

.search-button {
    height: 50px;
    width: 70px;
    background-color: #e75d14;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border: none;
}

.search-button:hover {
    background-color: #ff7226;
    color: whitesmoke;
}

.menu-box {
    min-width: 200px;
    min-height: 160px;
    background-color: #f0f0f0;
    display: inline-block;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.menu-box:hover {
    background-color: #7db9e0;
}

.store-icons {
    width: 60px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.store-title {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.selectable_div input[type="radio"] {
    display: none;
}

.available_coin {
    border: 2px solid #d4d9dd;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    border-radius: 5px;
    min-height: 135px;
}

.available_coin:hover {
    border: 2px solid #41ad0f;
    transform: scale(1.005);
    -webkit-transition: transform 2s ease-in-out;
}

.selectable_div input[type="radio"]:checked+ .available_coin {
    border: 2px solid #2e770b;
    background-color: transparent;
}

.cryptoinput {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #fff;
    box-sizing: border-box;
    font-family: 'Arvo';
    font-size: 18px;
    height: 35px;
    padding: 10px 0px;
    width: 80%;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.cryptoinput:focus {
    outline: none;  
    border-bottom: 2px solid rgba(255, 108, 10, 1);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none !important;
    background-color: #bdc3c7;
    min-width: 200px;
    max-width: 80%;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: none !important;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #e74c3c;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
    outline: 0;
}

 input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.2);
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #e74c3c;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
    outline: 0;
}

 input[type="range"]::-moz-range-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.2);
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

.textfield-style1 {
    height: 40px;
    border-bottom: 2px solid orangered;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    padding-bottom: 0px;
    font-size: 16pt;
    background: none;
    

}
/****table changes****/
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #333;
}
.table{
    color:#fff;
}
.bx-ash-menu {
    background: rgba(34,34,34,0.63);
    background: -moz-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,34,34,0.63)), color-stop(100%, rgba(60,59,73,0.63)));
    background: -webkit-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -o-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: linear-gradient(to right, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#3c3b49', GradientType=1 );
    border-radius: 7px;
    min-width: 200px;
    min-height: 160px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.progress-bar{
    color:#525050;
}
pre {
    display: block;
    font-size: 87.5%;
    color: #fff;
}

.w100px{
    width: 100px;
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    height: 12px;
    width: 15px;
    margin-top: 7px;
}

#id_btn_image{
    background: none;
    border: none;
    list-style: none;
    height: unset;
    display: inherit
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 5px 32px;
    text-decoration: none;
    font-size: 14px;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 7px;
    right: 5px;
    font-size: 36px;

    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}



.margin-vertical-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .mt-xs-10p {
        margin-top: 10px !important;
    }
}

.store-list {
    border: 1px solid #eaeaea;
}

.h50pxi {
    height: 50px !important;
}
/****************navbar-logo*******************/
.navbar-brand>img {
    display: block;
}

.margin-center {
    margin: 0 auto;
}
.logoheader {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translatex( -50%);
    
}

/****************sidebar*******************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #354d63;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidebar-ul li {
    border-bottom: 1px solid #f1f1f1;
    list-style: none;
}

.sidebar-ul {
    padding: 12px;
    padding-left: 10px;
}

.md-ul li {
    padding: 10px;
    width: 250px;
    list-style: none;
    background: rgba(34,34,34,0.63);
    background: -moz-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,34,34,0.63)), color-stop(100%, rgba(60,59,73,0.63)));
    background: -webkit-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -o-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    background: linear-gradient(to right, rgba(34,34,34,0.63) 0%, rgba(60,59,73,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#3c3b49', GradientType=1 );
    margin-top: 5px;
}

.md-ul li:hover {
    background: #3c576e;
    color: white;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url('../images/down-arrow.png') !important;
    background-position-x: right;
    background-repeat: no-repeat;
    background-position-y: 40%;
    outline: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
    /* your normal text color here */
}

select:-moz-focusring * {
    color: #000;
    /* your normal text color here */
    text-shadow: none;
}

.starchecked {
    color: #e75d14;
}

.margin-vertical-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .mt-xs-10p {
        margin-top: 10px !important;
    }
}

.store-list {
    border: 1px solid #eaeaea;
}
button:focus {
    outline: 1px dotted;
    outline: transparent;
}

.box2px {
    border: 2px solid white;
    border-radius: 7px;
    padding: 10px;
}

h6{
    font-size: .95rem !important;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -60px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    /* padding: .5rem 0; */
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #1f1f23a6;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.error{
    color: red;
}

.errorlist{
    color: red;
}