.errorlist{
    color: red;
    list-style: none;
    padding-left: 0px;
    position: absolute;
}
.min-height-content {
    min-height: 100vh;
    text-align: center;
}
.min-height-content :first-child {
    padding-top: 25vh;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top: 15px;
}

.login-sec .errorlist {
    position: relative;
}
.footer-bg ul a {
    color: white;
    text-decoration: none;
}