
.Coin-Hosting .panel-default>.panel-heading {
    color: #fff;
    background-color: #3c576e;
    border-color: #ddd;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.text-view {
    border: solid 1px #d7d7d7 !important;
    box-shadow: inset 4px 0px 0px #e75d14 !important;
    padding-left: 14px;
    height: 40px !important;
}


.setting-head {
    width: 100%;
    height: 45px;
    background-color: #f1f1f1;
    margin-top: -15px;
    padding: 8px 0px 0px 15px;
    line-height: 29px;
    font-size: 17px;
    font-weight: 600;
    color: #858ea4;
}

.m0 { margin: 0px; }


.coin-wrap {
    margin-top: 3em;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #f1f1f1;
    margin-bottom: 3em;
}

.coin-form-wrap {
    background-color: #fff;
    box-shadow: 0 1px 16px 2px #dedede;
    padding: 3em;
    }

.m-wrap {    margin-top: 3em;
    margin-bottom: 3em;}

.btn-up {    padding: 10px 25px;
    background: #e75d14;
    border: 0px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;}

.sup-wrap {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid #f1f1f1;
}    

.sup-wrap ol {    padding-top: 2em;
    padding-bottom: 2em;
    line-height: 25px;}

.mb24 { margin-bottom: 24px; }

.mt20 { margin-top: 20px; }

.ml10 { margin-left: 10px; }



.supwiz .panel-default>.panel-heading {
    color: #fff;
    background-color: #3c576e;
    border-color: #ddd;
}

.sup-wiz-convertion {margin-top: 2em; margin-bottom: 2em;}

.sup-wiz-convertion .panel-default>.panel-heading {
    color: #fff;
    background-color: #3c576e;
    border-color: #ddd;
}


.deposit-content {
    padding: 5px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    margin-bottom: 1em;
}


.divid-b {    border-bottom: 1px solid #e4e4e4;}


.deposit-content h4 {
    font-size: 15px;
    color: #888888;
}


.deposit-box p {     font-size: 16px;
    margin-top: 10px;}

.deposit-box {    background: #f1f1f1;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;}


.deposit-box p span {    margin: 4px;
    background: #1b7bb2;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;}


.accept-wrap .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #e75d14;
}

.accept-table-wrap {
    border: 1px solid #dddddd;
    border-radius: 4px;
}



.accept-table-wrap  .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 0px;
}


.pay-name-wrap a {    color: #fff;
    background: #e75d14;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
text-decoration: none;}



.pl0 { padding-left: 0px }

.mb20 { margin-bottom: 20px; }

.p15 { padding: 15px; }
.p5{padding:5px !important;}
.p0 { padding:0px;}
.pay-name-table {
    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 4px}

.width80per { width: 80%;}

.divid {
    position: absolute;
    left: -47px;
    top: -2px;
    }

.lh40 {    line-height: 40px;}


.btn-pad {
        margin: 5px 0px;
        height: 60px;
        background: #e75d14;
        color: #fff !important;
        font-size: 17px;
        font-weight: bold;
}    


.shop-cart .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #d0d0d0ed;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.19);
}


.shop-cart tbody tr {border-bottom: 1px solid #e2e2e2;}

.withdrawal select { background-image: none !important;} 

.b-gray-b {border-bottom: 1px solid #dddddd;border-top: 1px solid #dddddd;}

.buy-tocken {
    background: url(../images/blue-network.jpg);
    background-size: cover;
    padding-bottom: 5em;
}

.st-left , .st-right {
    margin-top: 30px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.74);
    padding: 15px;
    border-radius: 5px;
    min-height: 310px;
}


.counts {    background: #fff;
    padding: 10px;
    border-radius: 9px;
    margin-top: 15px;}

 .l-p-wrap   {
    padding: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 0px;
    margin-top: -53px;
    margin-bottom: 1em;
    }

.progress {
    height: 29px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 22px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    margin-top: 0px;
    text-align: center;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 27px;
    color: #525151;
    text-align: center;
    background-color: #00cc79;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.social-a{
    padding: 10px 20px;
    background: #e75d14;
    color: #fff !important;
    border-radius: 5px;
    text-decoration: none !important;
    margin: 5px;
    display: inline-block;
    }
.btn-by {
    padding: 10px 20px;
    color: #fff !important;
    background: #e75d14;
    font-size: 20px;
    margin-bottom: 1em;
    }
.f-logo {display: block;margin:auto;margin-top:  20px;margin-bottom:  20px;}

.coin-listing-form  {    background: #eeeff3;}

.list-wrap {
    padding: 20px;
    padding-bottom: 30px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
}  

.list-wrap h3 {    line-height: 31px;}


.btn-v2 {
    padding: 3px 20px;
    width: auto;
    color: #fff !important;
    background: #e65f19;
}

.d-box {
    padding: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    }
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 10px;
    border-radius: 7px;
    border: solid 1px;
    margin-bottom: 20px;
}

p.coin-comp-widget-title {
    text-align: center;
    font-family: gothammedium;
    font-size: 20px;
    color: #3a3a3a;
}

p.coin-comp-widget {
    text-align: center;
}

p.link.underline-link {
    text-decoration: none!important;
    margin-top: 10px!important;
}

a.submit-new-coin-text {
    background-image: linear-gradient(0deg,#5F00B2 0,#6938e6 50%,#6938e6)!important;
    color: #fff!important;
    padding: 10px;
    border-radius: 30px;
    font-size: 17px!important;
}

.search-field {
    margin-right: 20px;
    position: absolute;
    width: 92%!important;
    padding-left: 20px!important;
    padding-right: 120px!important;
    padding-top: 13px!important;
    padding-bottom: 13px!important;
    border-radius: 80px!important;
    border: solid 1px #cdced2!important;
    font: 16px GothamLight!important;
    z-index: 1!important;
    background: #fff!important;
    box-shadow: 0 3px 5px rgba(0,0,0,.09)!important;
}

.btn-search {
    position: absolute;
    right: 0;
    margin-right: 10px;
    z-index: 2;
    border: 0;
    vertical-align: top;
    padding: 8px 28px;
    font-size: 17px;
    background-image: linear-gradient(0deg,#5F00B2 0,#6938e6 50%,#6938e6)!important;
    font-weight: 700;
    border-radius: 50px;
    height: 46px;
    line-height: 30px;
    color: #fff!important;
    background-size: auto 200%;
    box-shadow: 0 1px 0 rgba(0,0,0,.2878);
    background-position: 0 100%;
    outline: 0!important;
}