
.Coin-Hosting .panel-default>.panel-heading {
    color: #fff;
    background-color: #3c576e;
    border-color: #ddd;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.text-view {
    border: solid 1px #d7d7d7 !important;
    box-shadow: inset 4px 0px 0px #e75d14 !important;
    padding-left: 14px;
    height: 40px !important;
}


.setting-head {
    width: 100%;
    height: 45px;
    background-color: #f1f1f1;
    margin-top: -15px;
    padding: 8px 0px 0px 15px;
    line-height: 29px;
    font-size: 17px;
    font-weight: 600;
    color: #858ea4;
}

.m0 { margin: 0px; }


.coin-wrap {
    margin-top: 3em;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #f1f1f1;
    margin-bottom: 3em;
}

.coin-form-wrap {
    background-color: #fff;
    box-shadow: 0 1px 16px 2px #dedede;
    padding: 3em;
    }

.m-wrap {    margin-top: 3em;
    margin-bottom: 3em;}

.btn-up {    padding: 10px 25px;
    background: #e75d14;
    border: 0px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;}

.sup-wrap {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid #f1f1f1;
}    

.sup-wrap ol {    padding-top: 2em;
    padding-bottom: 2em;
    line-height: 25px;}

.mb24 { margin-bottom: 24px; }

.mt20 { margin-top: 20px; }

.ml10 { margin-left: 10px; }



.supwiz .panel-default>.panel-heading {
    color: #fff;
    background-color: #3c576e;
    border-color: #ddd;
}

.sup-wiz-convertion {margin-top: 2em; margin-bottom: 2em;}

.sup-wiz-convertion .panel-default>.panel-heading {
    color: #fff;
    background-color: #3c576e;
    border-color: #ddd;
}


.deposit-content {
    padding: 5px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    margin-bottom: 1em;
}


.divid-b {    border-bottom: 1px solid #e4e4e4;}


.deposit-content h4 {
    font-size: 15px;
    color: #888888;
}


.deposit-box p {     font-size: 16px;
    margin-top: 10px;}

.deposit-box {    background: #f1f1f1;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;}


.deposit-box p span {    margin: 4px;
    background: #1b7bb2;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;}


.accept-wrap .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #e75d14;
}

.accept-table-wrap {
    border: 1px solid #dddddd;
    border-radius: 4px;
}



.accept-table-wrap  .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 0px;
}


.pay-name-wrap a {    color: #fff;
    background: #e75d14;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
text-decoration: none;}



.pl0 { padding-left: 0px }

.mb20 { margin-bottom: 20px; }

.p15 { padding: 15px; }
.p5{padding:5px !important;}
.p0 { padding:0px;}
.pay-name-table {
    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 4px}

.width80per { width: 80%;}

.divid {
    position: absolute;
    left: -47px;
    top: -2px;
    }

.lh40 {    line-height: 40px;}


.btn-pad {
        margin: 5px 0px;
        height: 60px;
        background: #e75d14;
        color: #fff !important;
        font-size: 17px;
        font-weight: bold;
}    


.shop-cart .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #d0d0d0ed;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.19);
}


.shop-cart tbody tr {border-bottom: 1px solid #e2e2e2;}