@media print {
    /* print style sheets go here */
  }
  

  
  @media only screen and (max-width: 1200px) {
    .btn-footer{
      width: 80%;
    }
  
  }
  
  @media only screen and (max-width: 1080px) {
    .container{
      width: 100%;
    }
    .menu-nav {
      margin: 21px 8px 3px 6px !important;
      font-size: 14px;
      color: black;
  }

  }
  
  @media only screen and (max-width: 1024px) {
    .menu-nav {
        margin: 21px 8px 3px 1px !important;
        font-size: 11px !important;
    
    }
  
  }
  
  @media only screen and (max-width: 960px) {
    .ios-box p{
      line-height: 20px;
    }
    .form-coin{
      width: 206px !important;
    }
    .btn-footer {
      width: 120px;
  }
  .apple-icon{
    width: 153px;
  }
  .btn-footer{
    margin: 5px 0px 0px 8px;

  }
  .apple-icon{
    padding: 4px 0px 0px 7px;
  }
  .apple-icon{
    width: 129px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    background-color: #fff;
  }

  }
  
  @media only screen and (max-width: 800px) {
   
  
  }
  
  @media only screen and (max-width: 768px) {
    .sub-img{
      width: inherit; 
      background-size:inherit; 
    }
    .grtstrat-last{
      height: auto;
    }
    .footer-bg ul{
      text-align: center;
    }
    .btn-footer{
      margin: inherit;
    }
    .footer-head-menu{
      text-align: center;
    }
    .second-sec{
      height: auto;

    }
    .box{
      margin-top: 0px;
      width: 49%;
    }
    .banner-img-circle{
      margin-top: inherit;
    }
    .banner-head-line{
      padding: inherit;
    }
    .navbar-nav .open .dropdown-menu {
      position: relative;
      float: left;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      width: 100%;
       top: initial;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  .menu-nav{
    font-size: 16px !important;
  }
   . drop-down:hover{
     background-color: indianred ;
   }
   .btn-log1{
    margin-bottom: 26px !important;
   }
   .btn-sign{
    margin-bottom: 26px !important;

   }
  }
  @media only screen and (max-width: 680px) {
    .second-sec{
      height: auto;
    }
    .footer-bg ul{
      text-align: center;
    }
    .btn-footer{
      margin: inherit;
    }
    .footer-bg ul{
      text-align: center;
    }
    .btn-footer{
      margin: inherit;
    }
    .footer-head-menu{
      text-align: center
    }
    .sub-company{
      padding-left: inherit !important;
    }
    .banner-img-circle{
      margin-top: inherit !important;
    }
    .banner-head-line{
      padding: inherit !important;

    }
    .scroll-btn .mouse{
      margin: 39px auto 20px;
    }
    .box{
      width: 49%;

    }
    .apple-icon{
      padding: inherit !important;
    }
    .menu-nav{
      font-size: 16px !important;
    }
}
  
  @media only screen and (max-width: 640px) {
    .sub-company{
     padding-left: inherit !important;
    }
    .second-sec{
      height: auto;
    }
    .footer-bg ul{
      text-align: center;
    }
    .btn-footer{
      margin: inherit;
    }
    .doller{
      padding: 7px 0px 13px 13px;
    }
    .menu-nav{
      font-size: 16px !important;
    }
  }
  
  @media only screen and (max-width: 520px) {
    .second-sec{
      height: auto;
    }
    .box{
      margin-top: inherit !important;
    }
    .sub-img{
      width:inherit;
      background-size:inherit;
    }
    .grtstrat-last{
      height: auto;
    }
    .banner-head-line{
      padding: inherit;
    }
    .banner-img-circle{
      margin-top: inherit;
    }
    .scroll-btn .mouse{
      margin: 2px auto 20px !important;

    }
    .footer-bg ul{
      text-align: center;
    }
    .btn-footer{
      margin: inherit;
    }
    .check-availabe{
      margin-bottom: 41px;
    }
    .doller{
      padding: 7px 0px 13px 13px;
    }
    .menu-nav{
      font-size: 16px !important;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .sub-company{
      text-align: center !important;
      display: block;
    }
    .check-availabe{
      margin-bottom: 41px;
    }
    .doller{
      padding: 7px 0px 13px 13px;
    }
    .menu-nav{
      font-size: 16px !important;
    }
  
  
  }
  
  @media only screen and (max-width: 420px) {
    .sub-company{
      text-align: center !important;
      display: block;
    }
    .check-availabe{
      margin-bottom: 41px;
    }
    .doller{
      padding: 7px 0px 13px 13px;
    }
    .menu-nav{
      font-size: 16px !important;
    }
  
  }
  
  @media only screen and (max-width: 375px) {
    .check-availabe{
      margin-bottom: 41px;
    }
    .doller{
      margin-bottom: 8px;
    }
    .scroll-btn{
      margin-top: 55px !important;
    }
    .menu-nav{
      font-size: 16px !important;
    }
  
  }
  
  @media only screen and (max-width: 360px) {
    .scroll-btn .mouse {
      margin: 94px auto 20px !important;
    }

    .menu-nav{
      font-size: 16px !important;
    }
    .check-availabe{
      margin-bottom: 41px;
    }
    .doller{
      margin-bottom: 8px;
    }
    .menu-nav{
      font-size: 16px !important;
    }
  
  
  }
  
  @media only screen and (max-width: 320px) {
    .sub-company{
      padding-left: inherit !important;
    }
    .footer-head-menu{
      text-align: center;
    }
    .footer-bg ul{
      text-align: center;
    }
    .btn-footer{
      margin: inherit;
    }
    .apple-icon {
      padding: 7px 0px 0px 5px;
      cursor: pointer;
      width: 100%;
  }
  .scroll-btn{
    margin-top: 55px !important;
  }
  .box{
    width: 100%;
  }
  .cart-name{
    padding: inherit;
  }
  .check-availabe{
    margin-bottom: 41px;
  }
  .doller{
    margin-bottom: 8px;
  }
  .apple-icon{
    width: 46%;
    margin-top: 10px;
  }

  .menu-nav{
    font-size: 16px !important;
  }

  }