{% extends 'exmr.html' %} {% load staticfiles %} {% load i18n %} {% block content %}
<section>
    <div class="dark-page-header text-center">
        <h1>MERCHANT TOOLS</h1>
        <h4>Button Maker</h4>
    </div>
</section>


<form action="//127.0.0.1:8000/en/merchant_tools/make-payment/" method="POST" >

    <input type="hidden" name="merchant_id" value="T9ygMYhhHsalhxU4Rqn5smwC8meWkGrG" required />
    <input type="hidden" name="item_name" value="q" maxlength="128" id="id_item_name" required />
    <input type="hidden" name="item_amount" value="q" maxlength="128" id="id_item_amount" required />
    <input type="hidden" name="item_number" value="q" maxlength="128" id="id_item_number" required />
    <input type="hidden" name="item_qty" value="q" maxlength="128" id="id_item_qty" required />
    <input type="hidden" name="buyer_qty_edit" value="false" id="id_buyer_qty_edit" />
    <input type="hidden" name="invoice_number" value="q" maxlength="128" id="id_invoice_number" required />
    <input type="hidden" name="tax_amount" value="q" maxlength="128" id="id_tax_amount" required />
    <input type="hidden" name="allow_shipping_cost" value="false"id="id_allow_shipping_cost" />
    <input type="hidden" name="shipping_cost" value="q" maxlength="128" id="id_shipping_cost" required />
    <input type="hidden" name="shipping_cost_add" value="q" maxlength="128" id="id_shipping_cost_add" required />
    <input type="hidden" name="success_url_link" value="q" maxlength="128" id="id_success_url_link" required />
    <input type="hidden" name="cancel_url_link" value="q" maxlength="128" id="id_cancel_url_link" required />
    <input type="hidden" name="ipn_url_link" value="q" maxlength="128" id="id_ipn_url_linl" required />
    <input type="hidden" name="allow_buyer_note" value="false"id="id_allow_buyer_note" />
    <input type="hidden" name="btn_image" value="1"id="id_btn_image" />
    <input type="image" src="//127.0.0.1:8000/media/button_maker/buybtn.png" alt="Buy Now with CoinPayments.net"></form>

    
    <form action="https://www.coinpayments.net/index.php" method="post">
        <input type="hidden" name="cmd" value="_pay">
        <input type="hidden" name="reset" value="1">
        <input type="hidden" name="merchant" value="448e5ddcb3032f0c76fbc877a5d1941b">
        <input type="hidden" name="item_name" value="Requestdesc_">
        <input type="hidden" name="item_number" value="1222">
        <input type="hidden" name="invoice" value="inv-321">
        <input type="hidden" name="currency" value="USD">
        <input type="hidden" name="amountf" value="10.00000000">
        <input type="hidden" name="quantity" value="1">
        <input type="hidden" name="allow_quantity" value="0">
        <input type="hidden" name="want_shipping" value="1">
        <input type="hidden" name="success_url" value="javblog.site">
        <input type="hidden" name="cancel_url" value="javblog.site">
        <input type="hidden" name="ipn_url" value="javblog.site">
        <input type="hidden" name="allow_extra" value="0">
        <input type="image" src="https://www.coinpayments.net/images/pub/buynow-wide-blue.png" alt="Buy Now with CoinPayments.net">
    </form>
 
    
<div class="col-xs-12 col-md-10 col-md-offset-1 pad20">
    <div class="dasboard-head col-xs-12 pad10">
        <div class="img-dashboard">
            <img src="{% static '/images/recevied.png' %} ">
        </div>
        <span class="font-h3">{% trans 'Advanced Button Maker' %}</span>
    </div>
    <div class="dasboard-head col-xs-12 pad10 text-center">
        <form method="post" novalidate>
            {% csrf_token %} {% include 'exmr_form.html' with form=form %}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<div class="col-xs-12 col-md-10 col-md-offset-1 pad20">
    <div class="dasboard-head col-xs-12 col-md-8 ">

        {% for item in btn_code %}

        <span class="code-font"> {{item}}</span>
        <br> {% endfor %} <span class="code-font">{{submit_image}}</span>
    </div>
</div>
<div class="clearfix">

</div>

{% endblock %} {% block script %}{% endblock %}