{% extends 'exmr.html' %} {% load staticfiles %} {% load i18n %} {% block content %}
<section>
    <div class="dark-page-header text-center">
        <h1>MERCHANT TOOLS</h1>
        <h4>Point of Sale</h4>
    </div>
</section>


<div class="col-xs-12 col-md-10 col-md-offset-1 pad20">
    <div class="dasboard-head col-xs-12 pad10">
        <div class="img-dashboard">
            <img src="{% static '/images/recevied.png' %} ">
        </div>
        <span class="font-h3">{% trans 'Advanced Button Maker' %}</span>
    </div>
    <div class="dasboard-head col-xs-12 pad10 text-center">
        <form method="post" novalidate>
            {% csrf_token %} {% include 'exmr_form.html' with form=form %}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% if html_url %}
<div class="col-xs-12 col-md-10 col-md-offset-1 pad20">
    <div class="dasboard-head col-xs-12 col-md-8 ">
        <span class="code-font"> {{html_url}}</span>
        <br> 
    </div>

    <span class=" col-xs-12 col-md-4 col-md-offset-4 text-center">
        <img src="https://chart.googleapis.com/chart?chs=100x100&cht=qr&chl={{html_url}}" class="col-xs-12 col-md-8 col-md-offset-2"></img>    
        <span class="col-xs-12">Scan the above image using a QR bar scanner</span>               
    </span>
</div>

{% endif %}
<div class="clearfix">

</div>

{% endblock %} {% block script %}
<script src="{% static 'css/keyboard.css'%}"></script>

<script src="{% static 'js/jquery.keyboard.js' %}"></script>

{% endblock %}