{% extends 'gcps/base.html' %} {% load staticfiles %} {% load i18n %} {% block content %}
<section class="section section-pad" style="padding-bottom: 1em">
    <div class="container">
        <div class="bx-ash mb-2">
            <div class="grid-2-bx" style="display: inline">
                <ul class="row nav nav-pills nav-fill " >
                    <li class="col-md-4 col-4 col-lg-2 col-sm-6 col-xl-2 nav-item">
                        <a href="{% url 'accounts:profile' %}" class="v-mid dashboard-nav row px-0 py-1">
                            
                            <span class="dashboard-span hidden-xs hidden-sm wallet-menu"><i class="fas fa-tachometer-alt fa-2x mr-1 "></i>{% trans 'Home' %}</span>
                        </a>
                        <!-- <i class="fas fa-2x fa-wallet"></i>
                        <a class="nav-link" href="{% url 'accounts:profile' %}"></a> -->
                    </li>
                    <li class="col-md-4 col-12 col-lg-2 col-sm-6 col-xl-2 nav-item">
                            <a href="{% url 'coins:wallets' %}" class="v-mid dashboard-nav row px-0 py-1">
                                
                                <span class="dashboard-span hidden-xs hidden-sm wallet-menu">
                                    <i class="fas fa-2x fa-wallet mr-1"></i>{% trans 'Your Wallet' %}
                                </span>
                            </a>
                        <!-- <a class="nav-link" href="{% url 'coins:wallets' %}">{% trans 'Your Wallet' %}</a> -->
                    </li>
                    <li class=" col-md-4 col-12 col-lg-2 col-sm-6 col-xl-2 nav-item">
                            <a href="{% url 'coins:coin-settings' %}" class="v-mid dashboard-nav row px-0 py-1">
                                
                                <span class="dashboard-span hidden-xs hidden-sm wallet-menu"><i class="fas fa-coins  fa-2x mr-1"></i>{% trans 'Coin Settings' %}</span>
                            </a>
                        <!-- <a class="nav-link" href="{% url 'coins:coin-settings' %}">{% trans 'Coin Settings' %}</a> -->
                    </li>
                    <li class=" col-md-4 col-12 col-lg-2 col-sm-6 col-xl-2 nav-item">
                        <a href="{% url 'coins:transaction-history' %}" class="v-mid dashboard-nav row px-0 py-1">
                                
                                <span class="dashboard-span hidden-xs hidden-sm wallet-menu"><i class="fas fa-receipt  fa-2x mr-1"></i> {% trans 'Transactions' %}</span>
                        </a>
                        <!-- <a class="nav-link" href="{% url 'coins:transaction-history' %}">{% trans 'Transactions' %}</a> -->
                    </li>
                    <li class="col-md-4 col-12 col-lg-2 col-sm-6 col-xl-2 nav-item">
                            <a href="{% url 'mtools:posqrmaker' %}" class="v-mid dashboard-nav row px-0 py-1">
                                
                                <span class="dashboard-span hidden-xs hidden-sm wallet-menu"><i class="fas fa-shopping-cart  fa-2x mr-1"></i> {% trans 'Quick POS' %}</span>
                            </a>
                        <!-- <a class="nav-link" href="{% url 'mtools:posqrmaker' %}"> {% trans 'Quick POS' %}</a> -->
                    </li>
                    <li class="col-md-4 col-12 col-lg-2 col-sm-6 col-xl-2 nav-item">
                            <a href="{% url 'coins:paybyname' %}" class="v-mid dashboard-nav row px-0 py-1">
                                
                                <span class="dashboard-span hidden-xs hidden-sm wallet-menu"><i class="fas fa-user-tie  fa-2x mr-1"></i>{% trans 'PayByName' %}</span>
                            </a>
                        <!-- <a class="nav-link" href="{% url 'coins:paybyname' %}"> {% trans 'PayByName' %}</a> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section section-pad" style="padding-top: 1em;">
    <div class="bx-ash ">
    <div class="dark-page-header text-center">
        <h1>MERCHANT TOOLS</h1>
        <h4>Button Maker</h4>
    </div>
</div>

 
    

    <div class="account-setting-wrap col-md-8 pad10">
        <div class="img-dashboard">
            <img src="{% static '/images/recevied.png' %} ">
        </div>
        <h3>{% trans 'Simple Button Maker' %}</h3>
    </div>
    <div class="account-setting-wrap col-md-8 pad10 text-center">
        <form method="post" novalidate>
            {% csrf_token %} 
            {% include 'exmr_form.html' with form=form %}
            <div class="text-center">
            <button type="submit" class="btn btn-outline-orange btn-lg">Submit</button>
        </div>
        </form>
    </div>


    <div class="account-setting-wrap col-md-8 ">
        <a id="cp_btn" class="float-right js-tooltip" title="copy" data-toggle="tooltip"  onclick="copy_password(this.id);"><i class="far fa-copy" style="font-size: 30px; padding: 10px"></i></a>
        <div id="pwd_span">   
        {% for item in btn_code %}

        <span class="code-font" id="pwd_span"> {{item}}</span>
        <br> {% endfor %} 
        </div>
        <br>
        <br>   
    </div>

<div class="clearfix">

</div>

{% endblock %} {% block script %}
{{ form.media.js }}
</section>
<script>
    //     $(window).on("load",function(){
    //         $('#onload').modal('show');
    // })
</script>

<script type="text/javascript">
    function copy_password(btn_id) {
    var temp = ($('#'+btn_id+'').next('div'));
    var textArea = document.createElement("textarea");
    var elOriginalText = $('#'+btn_id+'').attr('data-original-title');
    textArea.value = temp.text();
    document.body.appendChild(textArea);
    textArea.select();
    try {
      var successful = document.execCommand('copy');
      var msg = successful ? 'Copied!' : 'Whoops, not copied!';
      $('#'+btn_id+'').attr('data-original-title', msg).tooltip('show');
    //   el.attr('data-original-title', msg).tooltip('show');
    } catch (err) {
      console.log('Oops, unable to copy');
    }
    textArea.remove();
    $('#'+btn_id+'').attr('data-original-title', elOriginalText);
    }
    $(document).ready(function() {
  // Initialize
  // ---------------------------------------------------------------------

  // Tooltips
  // Requires Bootstrap 3 for functionality
    $('.js-tooltip').tooltip();

  // Copy to clipboard
  // Grab any text in the attribute 'data-copy' and pass it to the 
  // copy function
  
    });
    </script>
{% endblock %}