{% extends 'accounts/dashboard-base.html' %} {% load staticfiles widget_tweaks i18n %}
<div></div>
{% load transaction_status %} {% block dashboard_heading %}<h4 class="text-theme b-4 dashboard">WALLET</h4>
{% endblock %} {% block dashboard_wrapper_content %}

<section class="section section-pad" style="padding-bottom: 1em; padding-top: 1em">
    <div class="container">
        <div class="row bx-ash text-white text-center">
            <div class="col-12 text-center pt-1 px-5 pb-5 ">
                <h1>Buy {{sel_coin}}</h1>
            </div>
            <div class="col-12">
                <form method="POST" action=".">
                    {% csrf_token %}
                    <br><br>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <label>USD: </label>
                            <input type="text" name="usd_value" id="input_usd_value"
                                class="value textfield-style1 text-white" value="0">
                        </div>
                        <div class="col-12 col-sm-6">
                            <label>{{ view.kwargs.currency }}:</label>
                            <input type="text" name="coin_value" id="input_coin_value"
                                class="value textfield-style1 text-white" >
                        </div>
                        <div class="col-12 p-5">
                            <input type="submit" class="btn btn-success" value="Buy Coin">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block script %}

<script>
    var rates = {{ rates|safe }};
    var dest_coin = "{{view.kwargs.currency}}";
    function get_rate(){
            $.ajax({
                type: "GET",
                dataType: 'json',
                async:true,
                url: "{% url 'coins:getcurrentrate' %}",
                success: function (data) {
                    rates = data;
                },
                error:function(data){
                    console.log(data);
                }
            })
    }

    $('#input_usd_value').change(function () {
        get_rate();
        var elem = document.getElementById('input_usd_value').value;
        var dest_coin_rate = rates[dest_coin];
        var dest_coin_amt = (elem / dest_coin_rate).toFixed(8);
        document.getElementById('input_coin_value').value = dest_coin_amt;

    });

    
    $('#input_coin_value').change(function () {
        get_rate();
        var elem = document.getElementById('input_coin_value').value;
        var dest_coin_rate = rates[dest_coin];
        var usd_amt = (elem * dest_coin_rate).toFixed(2);
        document.getElementById('input_usd_value').value = usd_amt;
    });

    $.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    return results[1]||0;
}


if ($.urlParam('error'))
    alert("Currently we have insufficient funds. Please try with lesser amount.")

</script>

{% endblock %}