{% extends 'accounts/dashboard-base.html' %}
{% load staticfiles %}
{% block content %}
{% load transaction_status %}
{% load i18n widget_tweaks %}

<div class="withdrawal">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"><b>{% trans 'Coin Withdrawal' %}</b></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4 lh40" align="right">
            <p><b>{% trans 'Minimum Withdrawal' %} :</b></p>
            <p><b>{% trans 'Current Bal' %} :</b</p>
            <p><b>{% trans 'Send/Withdrawal Amount' %} : </b</p>
            <p><b>{% trans 'Transation Fee (est.)' %}' : </b</p>
            <p><b>{% trans 'Total Withdrawal' %} : </b</p>
             <p>{{coin.name}} {% trans 'Address or $payByName to send to' %} : </p>
             <p>{% trans 'Optional Note (Only Viewable by you)' %}' </p>
          </div>
          <div class="col-sm-6 lh40" align="right">
            <p>00010 {% if coin.code %}{{coin.code}}{% else %}{{ coin.contract_symbol }}{% endif %}</p>
            <p>{% get_bal_coin coin.code request.user %} {% if coin.code %}{{coin.code}}{% else %}{{ coin.contract_symbol }}{% endif %}</p>
            <div class="row m0 mb20">
              <div class="col-sm-6 ">
                <div class="input-group">
                  <input id="msg" type="text" class="form-control amount"  >
                  <span class="input-group-addon p5">
                  <select >
                  <option>{% if coin.code %}{{coin.code}}{% else %}{{ coin.contract_symbol }}{% endif %} </option>	
                  </select></span> </div>
              </div>
              
               <div class="col-sm-6 p0">
               
                <div class="input-group width80per">
					<div class="divid"></div>
                  <input id="msg" type="text" class="form-control amount"  >
                  <span class="input-group-addon p5">
                  <select >
                  <option>USD</option>	
                  </select></span> </div>
              </div>
            </div>
            <p>00000000 {{ coin.code }}</p>
            <p id="id_amount">00000000 {{ coin.code }}</p>
            <input type="text" class="form-control form-group wallet-send-coin-addr" />
            <input type="text" class="form-control form-group" />
            <button class="btn btn-signup" onclick="sendConfirm();"> {% trans 'Request Withdrawal/Send' %} </button>
            <img id="loading-image" src="{% static 'images/load.gif' %}" style="display:none;height: 60px;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
$(".amount").keyup(function(){
  if ($(".amount").val())
    $("#id_amount").text(parseInt($(".amount").val())+00000000)
  else
    $("#id_amount").text(00000000)
})

function sendConfirm(){
    $("#confirm_Send").modal("hide");
    address = $(".wallet-send-coin-addr").val();
    amount = $(".amount").val();
    $.ajax({
        type: "POST",
        url: "{% if coin.code %}{% url 'coins:send' coin.code %}{% else %}{% url 'coins:send' coin.contract_symbol %}{% endif%}",
        data: {
            'to': address,
            'amount': amount,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            beforeSend: function() {
              $(".btn-signup").hide();
              $("#loading-image").show();
           },
        },
        success: function (data) {
            if (data['success']){
                window.location.href = "{% url 'coins:send-success' %}"
            }     
            else{
              alert(data['error']);
           }
           $(".btn-signup").show();
           $("#loading-image").hide();
        }
    });
}
</script>
{% endblock %}
