{% extends 'accounts/dashboard-base.html' %} {% load staticfiles widget_tweaks i18n %}
<div></div>
{% load transaction_status %} {% block dashboard_heading %}
<div class="dashboard-bg">
    <div class="merchant-tools merchant-one coin-payment-head">
        <div class=" container merchant-box">COIN SETTINGS
        </div>
    </div>
</div>
{% endblock %} {% block dashboard_wrapper_content %}

<div class="dashboard-wrapper">
    <div class="dasboard-head ">
        <div class="panel panel-default">
            <div class=" dasboard-head pad10">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="{% url 'coins:setting-setup' %}">Setup Wizard</a>
                    </li>
                    <li>
                        <a href="{% url 'coins:coin-settings' %}">Std.coin</a>
                    </li>
                    <li>
                        <a href="{% url 'coins:omini-coin' %}">Omini coin</a>
                    </li>
                    <li>
                        <a href="{% url 'coins:ripple' %}">Ripple</a>
                    </li>
                    <li>
                        <a href="#">Escrow</a>
                    </li>
                    <li>
                        <a href="#">Paypal/other</a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
            <div class="panel-body" >
                <div class="accept-table-wrap">
                    <table class="table table-border table-responsive-md">
                        <thead>
                            <tr>
                                <th>Enabled</th>
                                <th>Coin</th>
                                <th>Your payment Address
                                    <h6>(only needed for ASAP modes)</h6>
                                </th>
                                <th>Payout Mode </th>
                                <th>Discount</th>
                                <th>Maximum value per Transaction</th>
                            </tr>
                        </thead>
                        <tbody>
                            
            
                <form name="RegForm" method="post">  
                    {%csrf_token%}
                            {% for obj in wallets %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="enabled" value="{{obj.code}}">
                                </td>
                                <td>
                                    <p>
                                        <img src="{% static 'images/coins/' %}{{ obj.code}}.png" class="wallets-img" width="30px"><span>{{ obj.coin_name }}</span></p>
                                </td>
                                <td>
                                    <input type="text" name="address_{{ obj.code}}" class="form-control" >
                                </td>
                                <td>
                                    <select name="pay_type_{{ obj.code}}" class="form-control">
                                        <option value="0">To Balance</option>
                                        <option value="1">ASAP</option>
                                        <option value="2">Nightly</option>
                                        <option value="3">To Balance + Convert</option>
                                        <option value="4">ASAP + Convert</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="number" name="discount_{{ obj.code}}" value="0" step=".01" class="form-control">
                                </td>
                                <td>
                                    <div class="input-group">

                                        <input <script type="text/javascript">
// function validate () {
//     var letters = /^[A-Za-z]+$/;
//     var decimal=  /^[-+]?[0-9]+\.[0-9]+$/;

//     jQuery.each($('input[name="address"]'), function(){
//         if (!($(this).val().match(letters) || $(this).val() === '')) {
//             alert('enter a valid address');
//             return false;
//         }
//     });
//     jQuery.each($('input[name="discount"]'), function(){
//         if (!($(this).val().match(decimal) || Number.isInteger(parseInt($(this).val())) || $(this).val() === '')) {
//             alert('enter a valid discount');
//             return false;
//         }
//     });
//     jQuery.each($('input[name="value"]'), function(){
//         if (!($(this).val().match(decimal) || Number.isInteger(parseInt($(this).val())) || $(this).val() === '')) {
//             alert('enter a valid transaction rate');
//             return false;
//         }
//         return ( true ) 
//     });


// }
// function GEEKFORGEEKS()                                    
// { 
//     var name = document.forms["RegForm"]["Name"];               
//     var email = document.forms["RegForm"]["EMail"];    
//     var phone = document.forms["RegForm"]["Telephone"];  
//     var what =  document.forms["RegForm"]["Subject"];  
//     var password = document.forms["RegForm"]["Password"];  
//     var address = document.forms["RegForm"]["Address"];  
   
//     if (name.value == "")                                  
//     { 
//         window.alert("Please enter your name."); 
//         name.focus(); 
//         return false; 
//     } 
   
//     if (address.value == "")                               
//     { 
//         window.alert("Please enter your address."); 
//         name.focus(); 
//         return false; 
//     } 
       
//     if (email.value == "")                                   
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (email.value.indexOf("@", 0) < 0)                 
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (email.value.indexOf(".", 0) < 0)                 
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (phone.value == "")                           
//     { 
//         window.alert("Please enter your telephone number."); 
//         phone.focus(); 
//         return false; 
//     } 
   
//     if (password.value == "")                        
//     { 
//         window.alert("Please enter your password"); 
//         password.focus(); 
//         return flase; 
//     } 
   
//     if (what.selectedIndex < 1)                  
//     { 
//         alert("Please enter your course."); 
//         what.focus(); 
//         return false; 
//     } 
   
//     return true; 
// }="form-control" name="value_{{ obj.code}}" value="0" step=".01">
                                        <span c<script type="text/javascript">
// function validate () {
//     var letters = /^[A-Za-z]+$/;
//     var decimal=  /^[-+]?[0-9]+\.[0-9]+$/;

//     jQuery.each($('input[name="address"]'), function(){
//         if (!($(this).val().match(letters) || $(this).val() === '')) {
//             alert('enter a valid address');
//             return false;
//         }
//     });
//     jQuery.each($('input[name="discount"]'), function(){
//         if (!($(this).val().match(decimal) || Number.isInteger(parseInt($(this).val())) || $(this).val() === '')) {
//             alert('enter a valid discount');
//             return false;
//         }
//     });
//     jQuery.each($('input[name="value"]'), function(){
//         if (!($(this).val().match(decimal) || Number.isInteger(parseInt($(this).val())) || $(this).val() === '')) {
//             alert('enter a valid transaction rate');
//             return false;
//         }
//         return ( true ) 
//     });


// }
// function GEEKFORGEEKS()                                    
// { 
//     var name = document.forms["RegForm"]["Name"];               
//     var email = document.forms["RegForm"]["EMail"];    
//     var phone = document.forms["RegForm"]["Telephone"];  
//     var what =  document.forms["RegForm"]["Subject"];  
//     var password = document.forms["RegForm"]["Password"];  
//     var address = document.forms["RegForm"]["Address"];  
   
//     if (name.value == "")                                  
//     { 
//         window.alert("Please enter your name."); 
//         name.focus(); 
//         return false; 
//     } 
   
//     if (address.value == "")                               
//     { 
//         window.alert("Please enter your address."); 
//         name.focus(); 
//         return false; 
//     } 
       
//     if (email.value == "")                                   
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (email.value.indexOf("@", 0) < 0)                 
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (email.value.indexOf(".", 0) < 0)                 
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (phone.value == "")                           
//     { 
//         window.alert("Please enter your telephone number."); 
//         phone.focus(); 
//         return false; 
//     } 
   
//     if (password.value == "")                        
//     { 
//         window.alert("Please enter your password"); 
//         password.focus(); 
//         return flase; 
//     } 
   
//     if (what.selectedIndex < 1)                  
//     { 
//         alert("Please enter your course."); 
//         what.focus(); 
//         return false; 
//     } 
   
//     return true; 
// }ddon p0 ">
                                            <se<script type="text/javascript">
// function validate () {
//     var letters = /^[A-Za-z]+$/;
//     var decimal=  /^[-+]?[0-9]+\.[0-9]+$/;

//     jQuery.each($('input[name="address"]'), function(){
//         if (!($(this).val().match(letters) || $(this).val() === '')) {
//             alert('enter a valid address');
//             return false;
//         }
//     });
//     jQuery.each($('input[name="discount"]'), function(){
//         if (!($(this).val().match(decimal) || Number.isInteger(parseInt($(this).val())) || $(this).val() === '')) {
//             alert('enter a valid discount');
//             return false;
//         }
//     });
//     jQuery.each($('input[name="value"]'), function(){
//         if (!($(this).val().match(decimal) || Number.isInteger(parseInt($(this).val())) || $(this).val() === '')) {
//             alert('enter a valid transaction rate');
//             return false;
//         }
//         return ( true ) 
//     });


// }
// function GEEKFORGEEKS()                                    
// { 
//     var name = document.forms["RegForm"]["Name"];               
//     var email = document.forms["RegForm"]["EMail"];    
//     var phone = document.forms["RegForm"]["Telephone"];  
//     var what =  document.forms["RegForm"]["Subject"];  
//     var password = document.forms["RegForm"]["Password"];  
//     var address = document.forms["RegForm"]["Address"];  
   
//     if (name.value == "")                                  
//     { 
//         window.alert("Please enter your name."); 
//         name.focus(); 
//         return false; 
//     } 
   
//     if (address.value == "")                               
//     { 
//         window.alert("Please enter your address."); 
//         name.focus(); 
//         return false; 
//     } 
       
//     if (email.value == "")                                   
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (email.value.indexOf("@", 0) < 0)                 
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (email.value.indexOf(".", 0) < 0)                 
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (phone.value == "")                           
//     { 
//         window.alert("Please enter your telephone number."); 
//         phone.focus(); 
//         return false; 
//     } 
   
//     if (password.value == "")                        
//     { 
//         window.alert("Please enter your password"); 
//         password.focus(); 
//         return flase; 
//     } 
   
//     if (what.selectedIndex < 1)                  
//     { 
//         alert("Please enter your course."); 
//         what.focus(); 
//         return false; 
//     } 
   
//     return true; 
// }
                                               <script type="text/javascript">
// function validate () {
//     var letters = /^[A-Za-z]+$/;
//     var decimal=  /^[-+]?[0-9]+\.[0-9]+$/;

//     jQuery.each($('input[name="address"]'), function(){
//         if (!($(this).val().match(letters) || $(this).val() === '')) {
//             alert('enter a valid address');
//             return false;
//         }
//     });
//     jQuery.each($('input[name="discount"]'), function(){
//         if (!($(this).val().match(decimal) || Number.isInteger(parseInt($(this).val())) || $(this).val() === '')) {
//             alert('enter a valid discount');
//             return false;
//         }
//     });
//     jQuery.each($('input[name="value"]'), function(){
//         if (!($(this).val().match(decimal) || Number.isInteger(parseInt($(this).val())) || $(this).val() === '')) {
//             alert('enter a valid transaction rate');
//             return false;
//         }
//         return ( true ) 
//     });


// }
// function GEEKFORGEEKS()                                    
// { 
//     var name = document.forms["RegForm"]["Name"];               
//     var email = document.forms["RegForm"]["EMail"];    
//     var phone = document.forms["RegForm"]["Telephone"];  
//     var what =  document.forms["RegForm"]["Subject"];  
//     var password = document.forms["RegForm"]["Password"];  
//     var address = document.forms["RegForm"]["Address"];  
   
//     if (name.value == "")                                  
//     { 
//         window.alert("Please enter your name."); 
//         name.focus(); 
//         return false; 
//     } 
   
//     if (address.value == "")                               
//     { 
//         window.alert("Please enter your address."); 
//         name.focus(); 
//         return false; 
//     } 
       
//     if (email.value == "")                                   
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (email.value.indexOf("@", 0) < 0)                 
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (email.value.indexOf(".", 0) < 0)                 
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (phone.value == "")                           
//     { 
//         window.alert("Please enter your telephone number."); 
//         phone.focus(); 
//         return false; 
//     } 
   
//     if (password.value == "")                        
//     { 
//         window.alert("Please enter your password"); 
//         password.focus(); 
//         return flase; 
//     } 
   
//     if (what.selectedIndex < 1)                  
//     { 
//         alert("Please enter your course."); 
//         what.focus(); 
//         return false; 
//     } 
   
//     return true; 
// }n>
                                            </s<script type="text/javascript">
// function validate () {
//     var letters = /^[A-Za-z]+$/;
//     var decimal=  /^[-+]?[0-9]+\.[0-9]+$/;

//     jQuery.each($('input[name="address"]'), function(){
//         if (!($(this).val().match(letters) || $(this).val() === '')) {
//             alert('enter a valid address');
//             return false;
//         }
//     });
//     jQuery.each($('input[name="discount"]'), function(){
//         if (!($(this).val().match(decimal) || Number.isInteger(parseInt($(this).val())) || $(this).val() === '')) {
//             alert('enter a valid discount');
//             return false;
//         }
//     });
//     jQuery.each($('input[name="value"]'), function(){
//         if (!($(this).val().match(decimal) || Number.isInteger(parseInt($(this).val())) || $(this).val() === '')) {
//             alert('enter a valid transaction rate');
//             return false;
//         }
//         return ( true ) 
//     });


// }
// function GEEKFORGEEKS()                                    
// { 
//     var name = document.forms["RegForm"]["Name"];               
//     var email = document.forms["RegForm"]["EMail"];    
//     var phone = document.forms["RegForm"]["Telephone"];  
//     var what =  document.forms["RegForm"]["Subject"];  
//     var password = document.forms["RegForm"]["Password"];  
//     var address = document.forms["RegForm"]["Address"];  
   
//     if (name.value == "")                                  
//     { 
//         window.alert("Please enter your name."); 
//         name.focus(); 
//         return false; 
//     } 
   
//     if (address.value == "")                               
//     { 
//         window.alert("Please enter your address."); 
//         name.focus(); 
//         return false; 
//     } 
       
//     if (email.value == "")                                   
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (email.value.indexOf("@", 0) < 0)                 
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (email.value.indexOf(".", 0) < 0)                 
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (phone.value == "")                           
//     { 
//         window.alert("Please enter your telephone number."); 
//         phone.focus(); 
//         return false; 
//     } 
   
//     if (password.value == "")                        
//     { 
//         window.alert("Please enter your password"); 
//         password.focus(); 
//         return flase; 
//     } 
   
//     if (what.selectedIndex < 1)                  
//     { 
//         alert("Please enter your course."); 
//         what.focus(); 
//         return false; 
//     } 
   
//     return true; 
// }
                                        </span><script type="text/javascript">
// function validate () {
//     var letters = /^[A-Za-z]+$/;
//     var decimal=  /^[-+]?[0-9]+\.[0-9]+$/;

//     jQuery.each($('input[name="address"]'), function(){
//         if (!($(this).val().match(letters) || $(this).val() === '')) {
//             alert('enter a valid address');
//             return false;
//         }
//     });
//     jQuery.each($('input[name="discount"]'), function(){
//         if (!($(this).val().match(decimal) || Number.isInteger(parseInt($(this).val())) || $(this).val() === '')) {
//             alert('enter a valid discount');
//             return false;
//         }
//     });
//     jQuery.each($('input[name="value"]'), function(){
//         if (!($(this).val().match(decimal) || Number.isInteger(parseInt($(this).val())) || $(this).val() === '')) {
//             alert('enter a valid transaction rate');
//             return false;
//         }
//         return ( true ) 
//     });


// }
// function GEEKFORGEEKS()                                    
// { 
//     var name = document.forms["RegForm"]["Name"];               
//     var email = document.forms["RegForm"]["EMail"];    
//     var phone = document.forms["RegForm"]["Telephone"];  
//     var what =  document.forms["RegForm"]["Subject"];  
//     var password = document.forms["RegForm"]["Password"];  
//     var address = document.forms["RegForm"]["Address"];  
   
//     if (name.value == "")                                  
//     { 
//         window.alert("Please enter your name."); 
//         name.focus(); 
//         return false; 
//     } 
   
//     if (address.value == "")                               
//     { 
//         window.alert("Please enter your address."); 
//         name.focus(); 
//         return false; 
//     } 
       
//     if (email.value == "")                                   
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (email.value.indexOf("@", 0) < 0)                 
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (email.value.indexOf(".", 0) < 0)                 
//     { 
//         window.alert("Please enter a valid e-mail address."); 
//         email.focus(); 
//         return false; 
//     } 
   
//     if (phone.value == "")                           
//     { 
//         window.alert("Please enter your telephone number."); 
//         phone.focus(); 
//         return false; 
//     } 
   
//     if (password.value == "")                        
//     { 
//         window.alert("Please enter your password"); 
//         password.focus(); 
//         return flase; 
//     } 
   
//     if (what.selectedIndex < 1)                  
//     { 
//         alert("Please enter your course."); 
//         what.focus(); 
//         return false; 
//     } 
   
//     return true; 
// }
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                                
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-signup text-center" >Select</button>
                             
                </form> 
                </body>
            </div>
        </div>
    </div>
</div>


{% endblock %}