{% extends 'accounts/dashboard-base.html' %} {% load staticfiles widget_tweaks i18n %}
<div></div>
{% block dashboard_heading %}<h4 class="text-theme b-4 dashboard">WALLET</h4>
{% endblock %}
{% load transaction_status %} 

    <!-- <div class="dashboard-bg">
    <div class="merchant-tools merchant-one coin-payment-head">
        <div class=" container merchant-box">DASHBOARD
        </div>
    </div>
    </div> -->


 {% block dashboard_wrapper_content %}
<section class="section section-pad" style="padding-bottom: 1em; padding-top: 1em">
        <div class="container">
            <div class="row bx-ash mb-2">           
                <div><h4 class="text-theme"><img style="padding-bottom: 6px" src="{% static '/images/recevied.png' %} "><span class="pl-2" >{% trans 'Convert Coin' %}</span></h4></div>
                <div class="col-12">
                    <input type="text" placeholder="search by COIN CODE" data-search>
                </div>
                <div class=" col-12">
                        <form method="POST" action="{% url 'coins:convert_select_confirm'%}">
                            {% csrf_token %}<div class="row">
                        {% for coin in avbl_coins %}
                        
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-1 selectable_div" style="color: white" data-filter-item data-filter-name="{{coin|lower}} ">
                            <label class="col-12">
                                <input type="radio" name="coin_radio" value="{{coin}}"/>
                                <div class="col-xs-12 text-center available_coin">
                                    {%for key,image in coin_images.items%} {% if key == coin %}
                                    <img src="{{image}}" class="img-responsive w60px margin-center ">
                                    <h4>{{coin}}</h4>
                                    {% endif %} {% endfor %}
                                </div>
                            </label>
                        </div>
                        {% endfor %}</div>
                        <input type="hidden" value="{{sel_coin}}" name="sel_coin" placeholder="Enter Amount">
                        <div class="col-12 my-2 text-right">
                                <input type="submit" class="btn btn-success"value="Continue"> 
                        </div>
                    </form>
                </div>    
            </div>
        </div>
</section>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content  exmr-modal white-font animated bounceInDown">

            <img src="{% static 'images/logo1.png' %}" class="margin-center img-responsive exmr-modal-logo">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 class="modal-title">
                    <i class="fa fa-exclamation-circle"></i>Alpha Version Testnet</h3>
            </div>
            <div class="modal-body text-center">
                We are in active development to bring you the best features.
                <br>The Coin will be added to be winners in our Coin Listing Competition.
                <br>More Coin support will be added in future.
                <br>We thankyou for your understanding.
                <br>
                <br>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% endblock %} {% block script %}
<script>
    
$('[data-search]').on('keyup', function() {
	var searchVal = $(this).val();
	var filterItems = $('[data-filter-item]');

	if ( searchVal != '' ) {
		filterItems.addClass('hidden');
		$('[data-filter-item][data-filter-name*="' + searchVal.toLowerCase() + '"]').removeClass('hidden');
	} else {
		filterItems.removeClass('hidden');
	}
});
</script> {% endblock %}