{% extends 'gcps/base.html' %}
{% load staticfiles %}
{% block content %}
    {% load i18n %}
    <section class="section section-pad">
  

    <div class="Coin-Hosting account-setting-wrap ">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">Coin Hosting Request</div>
                <div class="panel-body"><p>Coin hosting on the s platform is the ideal way to increase the number of users of your coin. Our hosted wallets allow users to store, send, and receive your coin and our custom APIs and plugins allow merchants to easily accept payment in your coin (non-ERC20 only at the moment). With over 985,500 vendors across 182 countries, it's only a matter of time before the adoption of your coin starts to grow. To get started simply fill out the form below then pay the $25.00 non-refundable application fee.</p>
                    <p>Our Coin Hosting Packages Include:</p>
                    <ul>
                        <li>Initial Setup</li>
                        <li>Hosting*</li>
                        <li>Maintenance &amp; Updates</li>
                        <li>Marketing Package</li>
                    </ul>

                    <p>When deciding if your coin is a good fit for our platform, we typically look for the following:</p>
                    <ul>
                        <li>Open Source Code</li>
                        <li>Top 200 Ranking on Coin Market Cap</li>
                        <li>Listed on Exchanges</li>
                    </ul>
                </div>
            </div>

            <div class="coin-wrap">

                <div class="setting-head">Submit Request to Add Your Coin</div>

                <div class="row m0">

                    <div class="col-sm-12 m-wrap">
                        <div class="coin-form-wrap row ">
                            <div class="form-group col-sm-6">
                                <label for="first_name">Your Name</label>
                                <input type="text" class="form-control text-view" name="" id="first_name" placeholder="Your Name">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="first_name">Your Email</label>
                                <input type="text" class="form-control text-view" name="" id="first_name" placeholder="Your Email">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="first_name">Coin Ticker Symbol</label>
                                <input type="text" class="form-control text-view" name="" id="first_name" placeholder="Coin Ticker Symbol">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="first_name">Coin Name</label>
                                <input type="text" class="form-control text-view" name="" id="first_name" placeholder="Coin Name">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="first_name">Coin Website</label>
                                <input type="text" class="form-control text-view" name="" id="first_name" placeholder="Coin Website">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="first_name">Coin Algorithm or ERC20</label>
                                <input type="text" class="form-control text-view" name="" id="first_name" placeholder="Coin Algorithm or ERC20">
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="first_name">Coin Source URL</label>
                                <input type="text" class="form-control text-view" name="" id="first_name" placeholder="Coin Source URL">
                            </div>

                            <div class="text-center col-sm-12 ">

                                <button type="submit" class="btn-up btn-outline-orange btn-lg">Submit Coin</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->