{% extends 'accounts/dashboard-base.html' %} {% load staticfiles widget_tweaks i18n %}
<div></div>
{% load transaction_status %} {% block dashboard_heading %}
<div class="dashboard-bg">
    <div class="merchant-tools merchant-one coin-payment-head">
        <div class=" container merchant-box">PAY BY NAME
        </div>
    </div>
</div>
{% endblock %} {% block dashboard_wrapper_content %}

<div class="dashboard-wrapper">
    <div class="dasboard-head pad10">
        <div class="img-dashboard">
            <img src="{% static '/images/recevied.png' %} ">
        </div>
        <span class="font-h3">{% trans 'Get Your Personalised PaymentID' %}</span>
    </div>

</div>


<div class="col-xs-12 col-md-6 pl-md-0">
    <div class="dashboard-wrapper-width col-xs-12 px-0">
        <div class="dasboard-head pad10 my-1 col-xs-12">
            <span class="font-h3  col-xs-4">
                Item#
            </span>
            <span class="font-h3  col-xs-8 ">
                Item
            </span>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 border-btm-line my-1">
                <span class="col-xs-4">
                    PBN-{{object.id}}
                </span>
                <span class="col-xs-8 ">
                    $PayByName Tags - 1 Pack
                </span>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-6 pr-md-0">
    <div class="dashboard-wrapper-width ">
        <div class="dasboard-head pad10 my-1 col-xs-12 col-md-6">
            <span class="font-h3  col-xs-4">
                Price/Unit
            </span>
            <span class="font-h3  col-xs-4 ">
                Quantity
            </span>
            <span class="font-h3  col-xs-4 ">
                Price
            </span>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 border-btm-line my-1">
                <span class="col-xs-4">
                    {{ object.price }} USD
                </span>
                <span class="col-xs-4 ">
                    1
                </span>
                <span class="col-xs-4 ">
                    {{ object.price }} USD
                </span>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-6 pl-md-0">
    <div class="dashboard-wrapper-width ">
        <div class="dasboard-head pad10 my-1 col-xs-12 col-md-6">
            <span class="font-h3 ">
                Buyer/Shipping Information
            </span>
        </div>
        <div class="col-xs-12 text-center px-1">
                <div class=" col-xs-12 col-md-6">
                    <input type="text" placeholder="First Name" class="input-text-exmr col-xs-12 px-2">
                </div>
                <div class=" col-xs-12 col-md-6">
                    <input type="text" placeholder="Last Name" class="input-text-exmr col-xs-12 px-2">
                </div>
                <div class=" col-xs-12 px-2">
                    <input type="text" placeholder="E-mail" class="input-text-exmr col-xs-12">
                </div>

        </div>
    </div>
</div>

<div class="col-xs-12 col-md-6 pr-md-0">
    <div class="dashboard-wrapper-width col-xs-12 px-0">
        <div class="dasboard-head pad10 my-1 col-xs-12 col-md-6">
            <span class="font-h3  col-xs-4">
                Total
            </span>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 border-btm-line my-1">
                <span class="col-xs-6">
                    Total:

                </span>
                <span class="col-xs-6 ">
                    {{ object.price }} USD
                </span>
            </div>
        </div>
    </div>
</div>


{% endblock %}