{% extends 'accounts/dashboard-base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% block dashboard_heading %}
<h4 class="text-theme b-4 dashboard">TRANSACTION HISTORY</h4>
    {% endblock %}
    {% block dashboard_wrapper_content %}

    <section class="section section-pad" style="padding-bottom: 1em; padding-top: 1em">
            <div class="container">
                <div class="bx-ash mb-2">
                    
                    <div style="margin-bottom: 2rem;">
                        <div class="pad10">
                            <div class="img-dashboard">
                                <img src="{% static '/images/recevied.png' %} ">
                            </div>
                                <h4 class="text-theme">{% trans 'GETCRYPTOPAYMENTS Wallet History' %}</h4>
                            </div>
                            <div class="app-min-wrap history-wallet p-2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-2 p-1">
                                            <a href="{% url 'coins:transaction-history-details' 'deposit' %}">
                                                <div class="btn-history-wrap col-12 text-center p-2">
                                                    <div class="col-12 text-center">
                                                        <img class="w60px" src="{% static 'images/deposit.svg' %}">
                                                    </div>    
                                                    <span class="col-xs-12 icon-wallet-name h50px text-theme">{% trans 'Deposit History' %}</span>
                    
                                                </div>
                                            </a>
                                        </div>
                                    
                
                                    <div class="col-12 col- col-sm-6 col-md-2 p-1">
                                        <a href="{% url 'coins:transaction-history-details' 'withdrawal' %}">
                                            <div class="btn-history-wrap col-12 text-center p-2">
                                                <div class="col-12 text-center">
                                                    <img class="w60px" src="{% static 'images/withdraw.svg' %}">
                                                </div>    
                                                <span class="col-12 icon-wallet-name h50px text-theme">{% trans 'withdraw History' %}</span>
                
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                
                                    <!-- <div class="col-xs-12 col-sm-6 col-md-2  p-1">
                                        <a href="{% url 'coins:transaction-history-details' 'transafter' %}">
                                            <div class="btn-history-wrap col-xs-12 text-center p-2">
                                                <div class="col-xs-12 text-center">
                                                    <img class="w60px" src="{% static 'images/arrows (1).svg' %}">
                                                </div>    
                                                <span class="col-xs-12 icon-wallet-name h50px">{% trans 'Transfer History' %}</span>
                
                                            </div>
                                        </a>
                                    </div>
                
                
                                    <div class="col-xs-12 col-sm-6 col-md-2  p-1">
                                        <a href="{% url 'coins:transaction-history-details' 'conversion' %}">
                                            <div class="btn-history-wrap col-xs-12 text-center p-2">
                                                <div class="col-xs-12 text-center">
                                                    <img class="w60px" src="{% static 'images/paper-plane.svg' %}">
                                                </div>    
                                                <span class="col-xs-12 icon-wallet-name h50px">{% trans 'Conversion History' %}</span>
                
                                            </div>
                                        </a>
                                    </div>
                
                
                
                                    <div class="col-xs-12 col-sm-6 col-md-2  p-1">
                                        <a href="{% url 'coins:transaction-history-details' 'p2p' %}">
                                            <div class="btn-history-wrap col-xs-12 text-center p-2">
                                                <div class="col-xs-12 text-center">
                                                    <img class="w60px" src="{% static 'images/paper-plane.svg' %}">
                                                </div>    
                                                <span class="col-xs-12 icon-wallet-name h50px">{% trans 'P2P Exchange History' %}</span>
                
                                            </div>
                                        </a>
                                    </div> -->
                
                
                
                                    <!-- <div class="btn-history-wrap">
                                            <a href="{% url 'coins:transaction-history-details' 'deposit' %}"><div class="co"<button type="button" class=" btn-history-wallet"><img class="col-xs-12 wallet-icon" src="{% static 'images/deposit.svg' %}"><span class="col-xs-12 icon-wallet-name">{% trans 'Deposit History' %}</span></button></a>
                                            <a href="{% url 'coins:transaction-history-details' 'withdrawal' %}"><button type="button" class=" btn-history-wallet"><img class="col-xs-12 wallet-icon" src="{% static 'images/withdraw.svg' %}"><span class="col-xs-12 icon-wallet-name">{% trans 'Withdrawal History' %}</span></button></a>
                                            <a href="{% url 'coins:transaction-history-details' 'transafter' %}"><button type="button" class=" btn-history-wallet"><img class="col-xs-12 wallet-icon" src="{% static 'images/arrows (1).svg' %}"><span class="col-xs-12 icon-wallet-name">{% trans 'Transfer History' %}</span></button></a>
                                            <a href="{% url 'coins:transaction-history-details' 'conversion' %}"><button type="button" class=" btn-history-wallet"><img class="col-xs-12 wallet-icon" src="{% static 'images/paper-plane.svg' %}"><span class="col-xs-12 icon-wallet-name">{% trans 'Conversion History' %}</span></button></a>
                                            <a href="{% url 'coins:transaction-history-details' 'p2p' %}"><button type="button" class=" btn-history-wallet"><img class="col-xs-12 wallet-icon" src="{% static 'images/paper-plane.svg' %}"><span class="col-xs-12 icon-wallet-name">{% trans 'P2P Exchange History' %}</span></button></a>
                                        </div> -->
                                </div>
                            </div>
                            <div class="bx-ash mb-2">       
                            <div>
                                <div style="color: white">
                
                                    <h3 class="trans coin-keys-app text-theme">{% trans 'Incoming Payment History' %}</h3>
                
                                </div>
                                <div class="app-min-wrap history-wallet">
                                        <table id="bstable" class="table table-condensed stacktable large-only" style="color: white">
                                            <thead>
                                                <tr style="border: none">
                                                    <th colspan="2">History Search &amp; Export</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="border: none">
                                                    <td align="left">Search Dates:</td>
                                                    <td>From
                                                        <input name="start_date" size="12" value="7/21/2018"> to
                                                        <input name="end_date" size="12" value="10/19/2018">
                                                    </td>
                                                </tr>
                                               <!--  <tr>
                                                    <td align="right">Search Query:</td>
                                                    <td>
                                                        <input name="q" value=""> in
                                                        <select name="search_type">
                                                            <option value="txn_id" selected="">Payment ID</option>
                                                            <option value="email">Sender's email</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="right">Amount:</td>
                                                    <td>
                                                        <input name="amount_l" value="0.00000000"> -
                                                        <input name="amount_h" value="0.00000000">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="right">Incoming/Outgoing:</td>
                                                    <td>
                                                        <select name="fromto">
                                                            <option value="both" selected="">Both</option>
                                                            <option value="incoming">Received</option>
                                                            <option value="outgoing">Sent</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="right">Completed Only?</td>
                                                    <td>
                                                        <select name="completed">
                                                            <option value="1" selected="">Yes</option>
                                                            <option value="0">No</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="right">$PayByName Tag:</td>
                                                    <td>
                                                        <select name="pbntag">
                                                            <option value="all">All Payments</option>
                                                            <option value="non">No Tag</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="right">Export Type:</td>
                                                    <td>
                                                        <select name="export_type">
                                                            <option value="xml">XML</option>
                                                            <option value="csv">CSV</option>
                                                            <option value="json" selected="">JSON</option>
                                                        </select>
                                                    </td>
                                                </tr> -->
                                                <tr style="border: none">
                                                    <td align="left">Submit:</td>
                                                    <td>
                                                        <input type="submit" id="id_display" class="btn btn-orange"  name="action" value="Display">
                                                        <a href="{% url 'coins:download_txn' %}?mode=export"> <input class="btn btn-transparent"  type="submit" name="action" value="Export">
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <input type="hidden" name="screen_res" value="1366x768">
                
                                </div>
                            <div id="transactionTable"></div>
                        </div> 
                    </div>
                </div>
            </div>
            
        </section>
    
            
    {% endblock %}
    {% block script %}
     
     <script type="text/javascript">
     $("#id_display").click(function(){
        $.ajax({
                    type: "GET",
                    url: "{% url 'coins:download_txn' %}?mode=display",
                    data: {
                    },
                    success: function (data) {

                         $("#transactionTable").append(data.data)
                        }
                    })

     })
          

     </script>

    {% endblock %}