{% extends 'accounts/dashboard-base.html' %} {% load staticfiles widget_tweaks i18n %}
<div></div>
{% load transaction_status %} {% block dashboard_heading %}
<div class="dashboard-bg">
    <div class="merchant-tools merchant-one coin-payment-head">
        <div class=" container merchant-box">COIN SETTINGS
        </div>
    </div>
</div>
{% endblock %} {% block dashboard_wrapper_content %}

<div class="dashboard-wrapper">
    <div class="dasboard-head ">
        <div class="panel panel-default">
            <div class=" dasboard-head pad10">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="{% url 'coins:setting-setup' %}">Setup Wizard</a>
                    </li>
                    <li>
                        <a href="{% url 'coins:coin-settings' %}">Std.coin</a>
                    </li>
                    <li>
                        <a href="{% url 'coins:omini-coin' %}">Omini coin</a>
                    </li>
                    <li>
                        <a href="{% url 'coins:ripple' %}">Ripple</a>
                    </li>
                    <li>
                        <a href="#">Escrow</a>
                    </li>
                    <li>
                        <a href="#">Paypal/other</a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
            <div class="panel-body" style="text-align: center;">
                <div class="accept-table-wrap">
                    <table class="table table-border table-responsive-md">
                        <thead>
                            <tr>
                                <th>Enabled</th>
                                <th>Coin</th>
                                <th>Your payment Address
                                    <h6>(only needed for ASAP modes)</h6>
                                </th>
                                <th>Payout Mode </th>
                                <th>Discount</th>
                                <th>Maximum value per Transation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>
                                    <p>
                                        <img src="{% static 'images/coins/' %}{{ ripple.code}}.png" class="wallets-img" width="30px"><span>{{ ripple.coin_name }}</span></p>
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option>To balance</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="" value="0%" class="form-control">
                                </td>
                                <td>
                                    <div class="input-group">

                                        <input type="text" class="form-control" name="msg" value="0">
                                        <span class="input-group-addon p0 ">
                                            <select>
                                                <option>USD</option>
                                            </select>
                                        </span>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <button class="btn btn-signup text-center" >Select</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}