{% extends 'gcps/base.html' %} {% load static %}{% load transaction_status %}{% block style %}
<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/b-print-1.5.1/r-2.2.1/sc-1.4.4/datatables.min.css" />
{% endblock %} {% block content %}
<section class="section section-pad">
    <div class="col-12 pb-5 pt-5">

        <div class="col-12 d-flex justify-content-center" style="position: relative">
            <div style="position: absolute;top: 50%;max-width:100px; max-height:50px;text-overflow: ellipsis;">
                <a href="{% url 'coins:admin_wallet_coin' %}">View Coins</a>
            </div>
        </div>
    </div>
</section>
<section class="section section-pad">
    <div class=" bx-ash col-12 p-md-5 pb-5 pt-5">
        <table id="data_table" class="table table-border table-responsive-md" style="width:100%; ">
            <thead>
                <tr style="border: none">
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for wall in wallets %}
                <tr style="border: none">
                    <td scope="row" style="border-top: none;">{{forloop.counter}}</td>
                    <td scope="col" id="id_{{wall.user.pk}}">{{wall.user.pk}}</td>
                    <td><a href="{% url 'coins:user_wallet' wall.user.pk %}">{{wall.user.first_name}}</a></td>
                    <td>{{wall.user}}</td>
                    <td> <a href="{% url 'coins:user_wallet' wall.user.pk %}">
                    {{wall.user.email}}</a></td>
                    <!-- <td id="bal_{{wall.name.code}}">
                        <img id="loading-image_{{wall.name.code}}" src="{% static 'images/load.gif' %}"
                            style="display:none;height: 20px;" />
                    </td> -->
                    <td>{% get_pk_bal_coin wall.name.code wall.user.pk %}</td>

                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}
{% block script %}
{% if not all_users %}
<!-- <script type="text/javascript">
    $(document).ready(function () {
        $('#data_table > tbody  > tr').each(function () {
            column = $(this).find('td')[5];
            pk= parseInt(($(this).find('td')[1]).innerHTML);

            $.ajax({
                type: "GET",
                url: "{% url 'coins:get_balance' %}",
                data: {
                    'code': column.id.split('bal_')[1],
                    'user_id': pk,
                },
                beforeSend: function () {
                    $("#loading-image_" + column.id.split('bal_')[1]).show();
                },
                success: function (data) {
                    $("#bal_" + data['code']).text(data['balance']);
                    $("#loading-image_" + data['code']).hide();
                    // $(column).text(data);

                }
            })
        });
    });
</script> -->
{% endif %}
{% endblock script %}