{% extends 'exmr.html' %} {% load static %}{% load transaction_status %}{% block style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/b-print-1.5.1/r-2.2.1/sc-1.4.4/datatables.min.css"
/> {% endblock %} {% block content %}
<!-- <section class="col-12 section-blue">
    <div class="col-12 pb-5 pt-5">

        <div class="col-12 d-flex justify-content-center" style="position: relative">
            <canvas id="myChart" style="max-width: 400px; max-height:400px; min-width:280px" width="400" height="400"></canvas>
            <div style="position: absolute;top: 50%;max-width:100px; max-height:50px;text-overflow: ellipsis;">
                <span style="font-size: 14pt;color: white;" id="total_usd">$1,234,567</span>
            </div>
        </div>
    </div>
</section> -->
<section class="col-12 section-dark">
    <div class="col-12 p-md-5 pb-5 pt-5">
        <table id="data_table" class="table table-striped table-dark text-capitalize" style="width:100%;">
            <thead>
                <tr>
                    {% if all_users %}
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    {% else %}
                    <th scope="col">#</th>
                    <th scope="col">Coin Name</th>
                    <th scope="col">Coin Code</th>
                    <th scope="col">Balance</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if all_users %}
                    {% for user in all_users %}
                    
                    <tr>
                        <th scope="row" style="border-top: none;">{{forloop.counter}}</th>
                        <td><a href="{% url 'coins:user_wallet' user.id %}">{{user.first_name}}</a></td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email }}</td>
                    </tr>
                    {% endfor %}

                {% else %}
                    {% for coin in coins %}
                    <tr>
                        <th scope="row" style="border-top: none;">{{forloop.counter}}</th>
                        <td><a href="">{{coin.coin_name}}</a></td>
                        <td>{{coin.code}}</td>
                        <td id="bal_{{coin.code}}">
                            <img id="loading-image_{{coin.code}}" src="{% static 'images/load.gif' %}" style="display:none;height: 20px;" />
                        </td>
                           
                    </tr>

                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %} 
{% block script %}
{% if not all_users %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#data_table > tbody  > tr').each(function () {
            column = $(this).find('td')[2]
            
            
            $.ajax({
                type: "GET",
                url: "{% url 'coins:get_balance' %}",
                data: {
                    'code': column.id.split('bal_')[1],
                    'user_id': {{ pk }}
                },
                beforeSend: function () {
                    $("#loading-image_" + column.id.split('bal_')[1]).show();
                },
                success: function (data) {
                    $("#bal_" + data['code']).text(data['balance'])
                    $("#val_" + data['code']).text(data['value'])
                    $(".val_" + data['code']).text(data['value'])
                    $("#loading-image_" + data['code']).hide();
                    // $(column).text(data);

                }
            })
        });
    });
</script>
{% endif %}
 {% endblock script %}