{% extends 'accounts/dashboard-base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% block dashboard_heading %}
<section class="section section-pad" style="padding-bottom: 1em">
    <div class="container">
        <div class="bx-ash mb-2">
            <div class="grid-2-bx" style="display: inline">
                <h4 class="text-theme b-4 dashboard">TRANSACTION HISTORY</h4>
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a href="{% url 'accounts:profile' %}" class="v-mid dashboard-nav text-center col-xs-12 px-0 py-1">
                            <span class="fas fa-tachometer-alt fa-2x col-xs-12 col-sm-6"></span>
                            <span class="dashboard-span hidden-xs col-sm-6 col-md-6 wallet-menu">{% trans 'Home' %}</span>
                        </a>
                        <!-- <i class="fas fa-2x fa-wallet"></i>
                        <a class="nav-link" href="{% url 'accounts:profile' %}"></a> -->
                    </li>
                    <li class="nav-item">
                            <a href="{% url 'coins:wallets' %}" class="v-mid dashboard-nav text-center col-xs-12 px-0 py-1">
                                <i class="fas fa-2x fa-wallet col-xs-12 col-sm-6"></i>
                                <span class="dashboard-span hidden-xs hidden-sm  wallet-menu">
                                    {% trans 'Your Wallet' %}
                                </span>
                            </a>
                        <!-- <a class="nav-link" href="{% url 'coins:wallets' %}">{% trans 'Your Wallet' %}</a> -->
                    </li>
                    <li class="nav-item">
                            <a href="{% url 'coins:coin-settings' %}" class="v-mid dashboard-nav text-center col-xs-12 px-0 py-1">
                                <i class="fas fa-coins  fa-2x col-xs-12 col-sm-6"></i>
                                <span class="dashboard-span hidden-xs hidden-sm  wallet-menu">{% trans 'Coin Settings' %}</span>
                            </a>
                        <!-- <a class="nav-link" href="{% url 'coins:coin-settings' %}">{% trans 'Coin Settings' %}</a> -->
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'coins:transaction-history' %}" class="v-mid dashboard-nav text-center col-xs-12 px-0 py-1">
                                <i class="fas fa-receipt  fa-2x col-xs-12 col-sm-6"></i>
                                <span class="dashboard-span hidden-xs hidden-sm  wallet-menu"> {% trans 'Transactions' %}</span>
                        </a>
                        <!-- <a class="nav-link" href="{% url 'coins:transaction-history' %}">{% trans 'Transactions' %}</a> -->
                    </li>
                    <li class="nav-item">
                            <a href="{% url 'mtools:posqrmaker' %}" class="v-mid dashboard-nav text-center col-xs-12 px-0 py-1">
                                <i class="fas fa-shopping-cart  fa-2x col-xs-12 col-sm-6"></i>
                                <span class="dashboard-span hidden-xs hidden-sm  wallet-menu"> {% trans 'Quick POS' %}</span>
                            </a>
                        <!-- <a class="nav-link" href="{% url 'mtools:posqrmaker' %}"> {% trans 'Quick POS' %}</a> -->
                    </li>
                    <li class="nav-item">
                            <a href="{% url 'coins:paybyname' %}" class="v-mid dashboard-nav text-center col-xs-12 px-0 py-1">
                                <i class="fas fa-user-tie  fa-2x col-xs-12 col-sm-6"></i>
                                <span class="dashboard-span hidden-xs hidden-sm  wallet-menu">{% trans 'PayByName' %}</span>
                            </a>
                        <!-- <a class="nav-link" href="{% url 'coins:paybyname' %}"> {% trans 'PayByName' %}</a> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block dashboard_wrapper_content %}
<section class="section section-pad" style="padding-bottom: 1em; padding-top: 1em">
    <div class="container">
        <div class="bx-ash mb-2">
            
                    <div>
                           
                            <div>
                                <div class="img-dashboard">
                                    <img src="{% static '/images/recevied.png' %} ">
                                </div>
                                <h4 class="text-theme">{% trans 'Recent Transaction' %}</h4>
                            </div>
                            <div>
                                <div>
                                    <div class="card" style="background-color: transparent;">
                                        <div class="card-body" style="word-wrap: normal">
                    
                                            <table class="table table-border table-responsive-md" style="table-layout: fixed">

                                                <!--Table head-->
                                                <thead>
                                                <tr class="table-top">
                    
                                                    <th class="text-center">{% trans 'Time' %}</th>
                                                    <th class="text-center">{% trans 'Address / TX ID' %}</th>
                                                    <th class="text-center">{% trans 'Coin' %}</th>
                                                    <th class="text-center">{% trans 'Status' %}</th>
                                                    <th class="text-center">{% trans 'Amount' %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% if transactions %}
                                                    {% for transaction in transactions %}
                                                    <tr>
                                                        <td align="center">{{ transaction.date }}</td>
                                                        <td align="center" style="word-wrap: break-word"><p>Address: {{transaction.transaction_to}} {{transaction.transaction_from}}</p>
                                                        <p>Tx Id: {{ transaction.tx_id}}{{ transaction.transaction_id}}</p>
                                                        {% if transaction.system_tx_id %}<p>Withdrawal ID: {{transaction.system_tx_id}}</p>{% endif %}
                                                        </td>
                                                        <td align="center">{{transaction.currency}}</td>
                                                        <td align="center">{% if transaction.approved == True %}Complete{% elif transaction.approved == False %}Cancelled{%else%}Complete{% endif %}</td>
                                                        <td align="center">{{transaction.amount}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% else %}
                                                <tr>
                                                    <td class="table-style" colspan="4">{% trans 'No Payment Found' %}</td>
                    
                                                </tr>
                                                    {% endif %}
                                                </tbody>
                                                <!--Table body-->
                    
                                            </table>
                                            <!--Table-->
                                            <!--Table-->
                    
                                        </div>
                                    </div>
                    
                                </div>
                    
                            </div>
            
        </div>
    </div>
</section>

{% endblock %}