{% extends 'accounts/dashboard-base.html' %} {% load staticfiles widget_tweaks i18n %}
<div></div>
{% load transaction_status %} {% block dashboard_heading %}
<div class="dashboard-bg">
    <div class="merchant-tools merchant-one coin-payment-head">
        <div class=" container merchant-box">WALLETS
        </div>
    </div>
</div>
{% endblock %} {% block dashboard_wrapper_content %}

<div class="dashboard-wrapper">
    <div class="dasboard-head pad10">
        <div class="img-dashboard">
            <img src="{% static '/images/recevied.png' %} ">
        </div>
        <span class="font-h3">{% trans 'Recent Transaction' %}</span>
    </div>
    <div class="dashboard-table">
        <div class="dasboard-head">
            <div class="card">
                <div class="card-body">

                    <!--Table-->
                    <table class="table table-border table-responsive-md table-fixed overflow table-scroll">

                        <!--Table head-->
                        <thead>
                            <tr class="table-top">

                                <th>{% trans 'Coin Name' %}</th>
                                <th>{% trans 'Code' %}</th>
                                <th>{% trans 'Balance' %}</th>
                                <th>{% trans 'Value' %}</th>
                                <th>{% trans 'Commands' %}</th>

                            </tr>
                        </thead>
                        <tbody class="text-center">

                            <!-- <tr>
                                <td class="table-style" colspan="5">{% trans 'No Payment Found' %}</td>

                            </tr> -->
                            {% for obj in wallets %}
                            {% if obj.display %}
                            <tr class="table-th text-center">
                                <th>
                                    <img src="{% static 'images/coins/' %}{{ obj.code}}.png" class="wallets-img">
                                    <span>{{ obj.name }}</span>
                                </th>
                                <th>
                                    <span>{{ obj.code }}</span>
                                </th>
                                <th id="bal_{{obj.code}}">
                                    <img id="loading-image_{{obj.code}}" src="{% static 'images/load.gif' %}" style="display:none;height: 20px;" />
                                </th>
                                <th>Value</th>
                                <th style="width: 150px;">
                                    <div class="btn-group " style="width: 100%;">
                                        {% if obj.active %}
                                        <button type="button" class="btn btn-success dropdown-toggle" style="width: 100%;" data-toggle="dropdown" aria-expanded="false">{{ obj.name.code }} Options
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="{% url 'coins:newaddr' obj.code  %}">
                                                    <span class="glyphicon glyphicon-import"></span> Deposit / Receive</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'coins:coin-withdrawal' obj.code %}">
                                                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Send / Withdraw</a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> View Addresses
                                                    <sup>3</sup>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-space-shuttle" aria-hidden="true"></i> Diversify your Portfolio</a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <span class="glyphicon glyphicon-lock"></span> Lock in Vault</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="">
                                                    <span class="glyphicon glyphicon-import"></span> Deposit History</a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Withdrawal History</a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Transfer History</a>
                                            </li>
                                        </ul>

                                        {% else %}

                                        <button type="button" class="btn btn-success dropdown-toggle" style="width: 100%;" data-toggle="modal" data-target="#myModal">{{ obj.name.code }} Options
                                            <span class="caret"></span>
                                        </button>
                                        {% endif %}
                                    </div>
                                </th>
                            </tr>{% endif %} {% endfor %}
                        </tbody>
                        <!--Table body-->

                    </table>
                    <!--Table-->
                </div>
            </div>

        </div>

    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content  exmr-modal white-font animated bounceInDown">

            <img src="{% static 'images/logo1.png' %}" class="margin-center img-responsive exmr-modal-logo">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 class="modal-title">
                    <i class="fa fa-exclamation-circle"></i>Alpha Version Testnet</h3>
            </div>
            <div class="modal-body text-center">
                We are in active development to bring you the best features.
                <br>The Coin will be added to be winners in our Coin Listing Competition.
                <br>More Coin support will be added in future.
                <br>We thankyou for your understanding.
                <br>
                <br>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% endblock %} {% block script %}
<script>
    function modal_loading(currency) {
        $("#coin_name").text(currency);
        $("#coin_name1").text(currency);
        $("#coin_name2").text(currency);
        $('#qr-chart').addClass('blink');
        $('#coin_addr_input').addClass('blink');
        $("#coin_addr_input").text("Creating a new address, please wait.");
        $("#qr-chart").attr("src", "https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=dummydata");
        $("#coin-modal").modal("show")

    }
</script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/clipboard2.min.js' %}"></script>
<script>
    $('.btn1').tooltip({
        trigger: 'click',
        placement: 'bottom'
    });

    function setTooltip(btn, message) {
        btn.tooltip('hide')
            .attr('data-original-title', message)
            .tooltip('show');
    }

    function hideTooltip(btn) {
        setTimeout(function () {
            btn.tooltip('hide');
        }, 1000);
    }

    // Clipboard

    var clipboard = new Clipboard('.btn1');

    clipboard.on('success', function (e) {
        var btn = $(e.trigger);
        setTooltip(btn, 'Copied!');
        hideTooltip(btn);
    });

    clipboard.on('error', function (e) {
        var btn = $(e.trigger);
        setTooltip('Failed!');
        hideTooltip(btn);
    });
    $(document).ready(function () {
        $('.table > tbody  > tr').each(function () {
            column = $(this).find('th')[2]

            $.ajax({
                type: "GET",
                url: "{% url 'coins:get_balance' %}",
                data: {
                    'code': column.id.split('bal_')[1],
                },
                beforeSend: function () {
                    $("#loading-image_" + column.id.split('bal_')[1]).show();
                },
                success: function (data) {
                    $("#bal_" + data['code']).text(data['balance'])
                    $("#loading-image_" + data['code']).hide();
                    // $(column).text(data);

                }
            })
        });
    });
</script> {% endblock %}