{% extends 'exmr.html' %} {% load staticfiles %} {% load i18n %} {% block content %}
<section>
    <div class="dark-page-header text-center">
        <h1>WINNERS</h1>
        <h4>Public Coin Voting</h4>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            {% for phase in phases %}
            <div class="col-xs-12 py-3">
                {% for coin in newcoins %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 my-1">
                    <div class="col-xs-12 vote-winner  py-3 ">
                        <img src="{{coin.logo_url}}" class="img-responsive w60px margin-center">
                        <h4>{{coin.name}} ({{coin.code}})</h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
    </div>

</section>
{% endblock %} {% block script %} {% endblock %}